Output/8acbda6cbe0491cdf73660265b7daf720254bc82/192.168.1.18/iotapp-002/flows.json
[{"id":"7105bd70.74fd24","type":"tab","label":"Test Flow","disabled":false,"info":""},{"id":"31bbd16f.53f03e","type":"inject","z":"7105bd70.74fd24","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":228,"y":173,"wires":[["344c44ed.6e160c","cca80b32.b533d8","c320e8c2.856f58","ec62fe3.60705","316819f1.8f3826"]]},{"id":"344c44ed.6e160c","type":"function","z":"7105bd70.74fd24","name":"","func":"msg.payload=[\n                {\n                    \"name\": \"wind\",\n                    \"type\": \"float\",\n                    \"value\": Math.random()*100\n                }\n            ];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":180,"wires":[["1ffbe16.1454b1f","416879e7.401078"]]},{"id":"1ffbe16.1454b1f","type":"debug","z":"7105bd70.74fd24","name":"","active":true,"console":"false","complete":"false","x":950,"y":380,"wires":[]},{"id":"f76565f0.86fca8","type":"save-my-kpidata-values","z":"7105bd70.74fd24","name":"Save on light","kpiId":"1-light-float","selectedKPIDataId":"1-light-float","authentication":"","x":650,"y":360,"wires":[["1ffbe16.1454b1f"]]},{"id":"cca80b32.b533d8","type":"function","z":"7105bd70.74fd24","name":"","func":"msg.payload={\"value\": Math.random()*100}\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":280,"wires":[["f76565f0.86fca8"]]},{"id":"d351b440.b60808","type":"single-content","z":"7105bd70.74fd24","selectedDashboardId":"1","flowName":"Flow 1","authentication":"","username":"userareamanager","name":"status","dashboardId":"1","metricType":"Testuale","startValue":"","metricShortDesc":"","metricFullDesc":"","x":750,"y":480,"wires":[]},{"id":"c320e8c2.856f58","type":"function","z":"7105bd70.74fd24","name":"","func":"msg.payload=Math.random()*100\nreturn msg;","outputs":1,"noerr":0,"x":447,"y":426,"wires":[["d351b440.b60808","1ffbe16.1454b1f"]]},{"id":"ec62fe3.60705","type":"function","z":"7105bd70.74fd24","name":"","func":"msg.payload={\n                \"wind\":{\n                    \"type\": \"float\",\n                    \"value\": Math.random()*100\n                }\n            };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":100,"wires":[["889b7cc4.7f653"]]},{"id":"889b7cc4.7f653","type":"orion-out-api-v2","z":"7105bd70.74fd24","name":"wind1 (orion v2)","authentication":"","tls":"","service":"7f9c0e16.cb44e","entype":"WindSensor","enid":"wind1","userk1":"","passk2":"","tenant":"","servicepath":"","apikey":"","basicAuth":"","x":760,"y":100,"wires":[]},{"id":"416879e7.401078","type":"fiware-orion-out","z":"7105bd70.74fd24","name":"wind2 (orion v1)","authentication":"","tls":"","service":"3dbf9cda.ef08f4","entype":"WindSensor","enid":"wind2","userk1":"","passk2":"","tenant":"","servicepath":"","apikey":"","basicAuth":"","x":760,"y":220,"wires":[]},{"id":"1cdcf2bb.12319d","type":"orion-out-api-v2","z":"7105bd70.74fd24","name":"mobile 1 (orion v2)","authentication":"","tls":"","service":"7f9c0e16.cb44e","entype":"WindSensor","enid":"wind-mobile1","userk1":"","passk2":"","tenant":"","servicepath":"","apikey":"","basicAuth":"","x":770,"y":40,"wires":[]},{"id":"316819f1.8f3826","type":"function","z":"7105bd70.74fd24","name":"","func":"//43.7625,11.2443\n//43.7839,11.2875\nmsg.payload={\n                \"wind\":{\n                    \"type\": \"float\",\n                    \"value\": Math.random()*100\n                },\n                \"latitude\":{\n                    \"type\": \"float\",\n                    \"value\": 43.7625+Math.random()*(43.7839-43.7625)\n                },\n                \"longitude\":{\n                    \"type\": \"float\",\n                    \"value\": 11.2443+Math.random()*(11.2875-11.2443)\n                }\n                \n            };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":40,"wires":[["1cdcf2bb.12319d"]]},{"id":"f8aeb770.095ee8","type":"inject","z":"7105bd70.74fd24","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":80,"wires":[["316819f1.8f3826"]]},{"id":"964b65f3.df7de8","type":"inject","z":"7105bd70.74fd24","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":120,"wires":[["ec62fe3.60705"]]},{"id":"7f9c0e16.cb44e","type":"orion-service-api-v2","z":"","contextbroker":"orion-1","selectedContextbroker":"orion-1","name":"orion-1","url":"orionbrokerfilter-001","port":"8443"},{"id":"3dbf9cda.ef08f4","type":"orion-service","z":"","name":"","url":"orionbrokerfilter-001","port":"8443"}]
