Flask/Modules/iotapp+/flows-old-old.json
[{"id":"da5a9370.0b7cb","type":"tab","label":"Checker","disabled":false,"info":""},{"id":"4eef67a.2f64a98","type":"tab","label":"DataTableUploader Flow","disabled":false,"info":""},{"id":"9cee819b.19182","type":"tab","label":"POI Upload Flow","disabled":false,"info":""},{"id":"53bf3758.e51e28","type":"subflow","name":"getAccessToken","info":"","in":[{"x":40,"y":80,"wires":[{"id":"fa2822f4.3f87"}]}],"out":[{"x":400,"y":140,"wires":[{"id":"bc4db2ee.bf22b","port":0}]}]},{"id":"10345332.a72d3d","type":"subflow","name":"getAccessToken (2)","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"a8b123fa.0676e"}]}],"out":[{"x":380,"y":140,"wires":[{"id":"745e1adc.5fb504","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"e6119004.fe69b","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3dbf9cda.ef08f4","type":"orion-service","z":"","name":"","url":"orionbrokerfilter","port":"8443"},{"id":"4910f82d.48e238","type":"snap4city-authentication","z":"","name":""},{"id":"160e4f4.6bcffb1","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"f3bc35ce.b8f008","type":"ui_group","z":"","name":"Default","tab":"160e4f4.6bcffb1","order":2,"disp":true,"width":20,"collapse":false},{"id":"650adfe9.681a5","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"a7f0e759.95e218","type":"orion-service-api-v2","z":"","contextbroker":"iotobsf","selectedContextbroker":"iotobsf","name":"iotobsf","url":"orionbrokerfilter","port":"8443"},{"id":"736da071.545fc","type":"orion-service-api-v2","z":"","contextbroker":"orionDubrovnik-UNIFI","selectedContextbroker":"orionDubrovnik-UNIFI","name":"orionDubrovnik-UNIFI","url":"192.168.1.47","port":"8446"},{"id":"6af9a139.5ed2e","type":"orion-service-api-v2","z":"","contextbroker":"iotobsf","selectedContextbroker":"iotobsf","name":"iotobsf","url":"orionbrokerfilter","port":"8443"},{"id":"1e5f4968.5b2987","type":"orion-service-api-v2","z":"","contextbroker":"orionDubrovnik-UNIFI","selectedContextbroker":"orionDubrovnik-UNIFI","name":"orionDubrovnik-UNIFI","url":"192.168.1.47","port":"8446"},{"id":"36582454.fdd10c","type":"ui_spacer","name":"spacer","group":"f3bc35ce.b8f008","order":1,"width":20,"height":1},{"id":"1ddb946d.5c054c","type":"orion-service-api-v2","z":"","contextbroker":"iotobsf","selectedContextbroker":"iotobsf","name":"iotobsf","url":"orionbrokerfilter","port":"8443"},{"id":"349def3d.6b1ed","type":"orion-service-api-v2","z":"","contextbroker":"orionDubrovnik-UNIFI","selectedContextbroker":"orionDubrovnik-UNIFI","name":"orionDubrovnik-UNIFI","url":"192.168.1.47","port":"8446"},{"id":"fa2822f4.3f87","type":"file in","z":"53bf3758.e51e28","name":"","filename":"/data/refresh_token","format":"utf8","chunk":false,"sendError":false,"x":190,"y":80,"wires":[["c803ab1d.042c88"]]},{"id":"bc4db2ee.bf22b","type":"http request","z":"53bf3758.e51e28","name":"","method":"POST","ret":"obj","url":"$#base-url#$/auth/realms/master/protocol/openid-connect/token/","tls":"","x":240,"y":140,"wires":[[]]},{"id":"c803ab1d.042c88","type":"function","z":"53bf3758.e51e28","name":"","func":"msg.payload=\"client_id=nodered&client_secret=cb7b3ab4-23d2-4912-a126-1ed811293cd5&grant_type=refresh_token&scope=openid profile&refresh_token=\" + msg.payload;\nmsg.headers={\"Content-Type\":\"application/x-www-form-urlencoded\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":80,"wires":[["bc4db2ee.bf22b"]]},{"id":"a8b123fa.0676e","type":"file in","z":"10345332.a72d3d","name":"","filename":"/data/refresh_token","format":"utf8","chunk":false,"sendError":false,"x":190,"y":80,"wires":[["5b1dbb3.b768144"]]},{"id":"745e1adc.5fb504","type":"http request","z":"10345332.a72d3d","name":"","method":"POST","ret":"obj","url":"$#base-url#$/auth/realms/master/protocol/openid-connect/token/","tls":"","x":240,"y":140,"wires":[[]]},{"id":"5b1dbb3.b768144","type":"function","z":"10345332.a72d3d","name":"","func":"msg.payload=\"client_id=nodered&client_secret=943106ae-c62c-4961-85a2-849f6955d404&grant_type=refresh_token&scope=openid profile&refresh_token=\" + msg.payload;\nmsg.headers={\"Content-Type\":\"application/x-www-form-urlencoded\"}\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":80,"wires":[["745e1adc.5fb504"]]},{"id":"298d30ad.6a4ee","type":"inject","z":"da5a9370.0b7cb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"600","crontab":"","once":true,"onceDelay":"20","topic":"","payload":"","payloadType":"date","x":150,"y":80,"wires":[["bf28ce8e.603fc"]]},{"id":"bf28ce8e.603fc","type":"template","z":"da5a9370.0b7cb","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Snap4City,\"1.82;37;1.43\",$#base-url#$/dashboardSmartCity/,200,5000,on\nServiceMap,\"206\",$#base-url#$/ServiceMap/,200,5000,on\nWSserver,\"206\",$#base-url#$/wsserver/,400,5000,on\nSuperServiceMap,\"206\",$#base-url#$/superservicemap/api/v1/?serviceUri=xxx,400,5000,on\nauth,\"206\",$#base-url#$/auth/,200,18000,on\ndatamanager,\"206\",$#base-url#$/datamanager/,200,18000,on\nopensearch-dashboards,\"206\",http://opensearch-dashboards:5601,302,18000,on\nsynoptics,\"206\",$#base-url#$/synoptics/,200,18000,on\niotapp1,\"206\",$#base-url#$/iotapp/iotapp-001/,200,18000,on\niotapp2,\"206\",$#base-url#$/iotapp/iotapp-002/,200,18000,on\niotapp3,\"206\",$#base-url#$/iotapp/iotapp-003/,200,18000,on\nIOT Directory,\"206\",$#base-url#$/iot-directory/,200,18000,on\nvirtuoso,\"xx\",http://virtuoso-kb:8890/,200,5000,on\nopensearch-n1,\"xx\",https://opensearch-n1:9200/,401,5000,on\norionbrokerfilter-001,\"xx\",https://orionbrokerfilter-001:8443/,200,5000,on\norion-001,\"xx\",http://orion-001:1026/,400,5000,on\nMyLDAP,\"xx\",https://myldap:443/,200,5000,on\nmongo-001,\"xx\",http://mongo-001:27017/,200,5000,on","output":"str","x":310,"y":80,"wires":[["daa12d.fd4e3ed"]]},{"id":"daa12d.fd4e3ed","type":"csv","z":"da5a9370.0b7cb","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":450,"y":80,"wires":[["88ff1ae1.afd1f8","28eb8a3e.46a466"]]},{"id":"e6d4d2b2.66f1","type":"http request","z":"da5a9370.0b7cb","name":"testing url","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"650adfe9.681a5","persist":false,"proxy":"","authType":"","x":380,"y":160,"wires":[["4c6671d9.98fbe","713e876b.dddd88"]]},{"id":"d088846d.3c8108","type":"delay","z":"da5a9370.0b7cb","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"6","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":190,"y":160,"wires":[["e6d4d2b2.66f1"]]},{"id":"28eb8a3e.46a466","type":"function","z":"da5a9370.0b7cb","name":"ask","func":"// msg.other = msg.payload;\nif (msg.payload.col6===\"on\") {\nmsg = { \"url\" : msg.payload.col3,\n       \"other\" : msg.payload,\n       \"requestTimeout\" : msg.payload.col5,\n       \"rispostaattesa\" : msg.payload.col4\n    };\n}\nelse msg=null;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":80,"wires":[["d088846d.3c8108"]]},{"id":"88ff1ae1.afd1f8","type":"debug","z":"da5a9370.0b7cb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":40,"wires":[]},{"id":"4c6671d9.98fbe","type":"debug","z":"da5a9370.0b7cb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":550,"y":160,"wires":[]},{"id":"713e876b.dddd88","type":"function","z":"da5a9370.0b7cb","name":"ask","func":"var str = msg.responseUrl\n msg.payload = \"Code \" + msg.statusCode.toString()+\" at: \"+msg.headers.date+\". Should be: \"+msg.rispostaattesa.toString();\n\n\n\nif (str.includes(\"dashboardSmartCity\"))\n{\n    node.warn(1)\n   return [msg,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null] \n}\nelse if (str.includes(\"ServiceMap\"))\n{\n    node.warn(2)\n   return [null,msg,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null] \n}\nelse if (str.includes(\"wsserver\"))\n{\n    node.warn(3)\n   return [null,null,msg,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null] \n}\nelse if (str.includes(\"superservicemap\"))\n{\n    node.warn(4)\n   return [null,null,null,msg,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null] \n}\nelse if (str.includes(\"auth\"))\n{\n   if (str.includes(\"opensearch-dashboards\"))\n        {\n            node.warn(7)\n            return [null,null,null,null,null,null,msg,null,null,null,null,null,null,null,null,null,null,null,null,null,null] \n        }\n    node.warn(5)\n   return [null,null,null,null,msg,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null] \n}\nelse if (str.includes(\"datamanager\"))\n{\n    node.warn(6)\n   return [null,null,null,null,null,msg,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null] \n}\nelse if (str.includes(\"opensearch-dashboards\"))\n{\n    node.warn(7)\n   return [null,null,null,null,null,null,msg,null,null,null,null,null,null,null,null,null,null,null,null,null,null] \n}\nelse if (str.includes(\"synoptic\"))\n{\n    node.warn(8)\n   return [null,null,null,null,null,null,null,msg,null,null,null,null,null,null,null,null,null,null,null,null,null] \n}\n if (str.includes(\"iotapp-001\"))\n{\n    node.warn(9)\n   return [null,null,null,null,null,null,null,null,msg,null,null,null,null,null,null,null,null,null,null,null,null] \n}\n if (str.includes(\"iotapp-002\"))\n{\n    node.warn(10)\n   return [null,null,null,null,null,null,null,null,null,msg,null,null,null,null,null,null,null,null,null,null,null] \n}\n if (str.includes(\"iotapp-003\"))\n{\n    node.warn(11)\n   return [null,null,null,null,null,null,null,null,null,null,msg,null,null,null,null,null,null,null,null,null,null] \n}\n if (str.includes(\"iot-directory\"))\n{\n    node.warn(12)\n   return [null,null,null,null,null,null,null,null,null,null,null,msg,null,null,null,null,null,null,null,null,null]\n}\n if (str.includes(\"virtuoso\"))\n{\n    node.warn(13)\n   return [null,null,null,null,null,null,null,null,null,null,null,null,msg,null,null,null,null,null,null,null,null]\n}\nif (str.includes(\"opensearch-n1\"))\n{\n    node.warn(14)\n   return [null,null,null,null,null,null,null,null,null,null,null,null,null,msg,null,null,null,null,null,null,null]\n}\nif (str.includes(\"orion-001\"))\n{\n    node.warn(15)\n   return [null,null,null,null,null,null,null,null,null,null,null,null,null,null,msg,null,null,null,null,null,null]\n}\nif (str.includes(\"orionbrokerfilter\"))\n{\n    node.warn(16)\n   return [null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,msg,null,null,null,null,null]\n}\nif (str.includes(\"myldap\"))\n{\n    node.warn(17)\n   return [null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,msg,null,null,null]\n}\nif (str.includes(\"mongo\"))\n{\n    node.warn(18)\n   return [null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,msg,null]\n}\n\nnode.warn(-1)\nreturn [null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null]\n","outputs":21,"noerr":0,"initialize":"","finalize":"","x":290,"y":400,"wires":[["e87204eb.c04f78"],["23f7c3fe.77110c"],["4e6d890c.81ea18"],["2b6c688e.c0bcd8"],["5362a26d.73801c"],["94407bd9.08d9d8"],["5d12c935.03d398"],["260025df.7fe6ea"],["8a590fe3.0d64"],["8a5bfc4c.7aa4f"],["d69e71ad.6265d"],["7b56824f.aaed6c"],["faefd0ae.53fb9"],["c6663c8f.f7f6d"],["d1213bdb.8071d8"],["2ecc3c73.e79524"],[],["249993b7.c53e2c"],[],["2a623a41.44bf06"],[]]},{"id":"a8ee072b.c4f048","type":"inject","z":"da5a9370.0b7cb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"20","topic":"","payload":"","payloadType":"date","x":160,"y":1540,"wires":[["35482dd9.fc3a82"]]},{"id":"35482dd9.fc3a82","type":"function","z":"da5a9370.0b7cb","name":"","func":"msg.payload= \"te1st\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":1540,"wires":[[]]},{"id":"e87204eb.c04f78","type":"ui_text","z":"da5a9370.0b7cb","group":"f3bc35ce.b8f008","order":3,"width":0,"height":0,"name":"","label":"Dashboard frontend","format":"{{msg.payload}}","layout":"row-spread","x":780,"y":200,"wires":[]},{"id":"23f7c3fe.77110c","type":"ui_text","z":"da5a9370.0b7cb","group":"f3bc35ce.b8f008","order":21,"width":0,"height":0,"name":"","label":"ServiceMap","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":260,"wires":[]},{"id":"4e6d890c.81ea18","type":"ui_text","z":"da5a9370.0b7cb","group":"f3bc35ce.b8f008","order":26,"width":0,"height":0,"name":"","label":"WSserver","format":"{{msg.payload}}","layout":"row-spread","x":740,"y":300,"wires":[]},{"id":"2b6c688e.c0bcd8","type":"ui_text","z":"da5a9370.0b7cb","group":"f3bc35ce.b8f008","order":23,"width":0,"height":0,"name":"","label":"Super Servicemap","format":"{{msg.payload}}","layout":"row-spread","x":770,"y":340,"wires":[]},{"id":"5362a26d.73801c","type":"ui_text","z":"da5a9370.0b7cb","group":"f3bc35ce.b8f008","order":2,"width":0,"height":0,"name":"","label":"Auth","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":380,"wires":[]},{"id":"94407bd9.08d9d8","type":"ui_text","z":"da5a9370.0b7cb","group":"f3bc35ce.b8f008","order":4,"width":0,"height":0,"name":"","label":"Datamanager Pers.Data.","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":420,"wires":[]},{"id":"5d12c935.03d398","type":"ui_text","z":"da5a9370.0b7cb","group":"f3bc35ce.b8f008","order":17,"width":0,"height":0,"name":"","label":"Opensearch-dashboard","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":460,"wires":[]},{"id":"260025df.7fe6ea","type":"ui_text","z":"da5a9370.0b7cb","group":"f3bc35ce.b8f008","order":24,"width":0,"height":0,"name":"","label":"Synoptic","format":"{{msg.payload}}","layout":"row-spread","x":740,"y":500,"wires":[]},{"id":"8a590fe3.0d64","type":"ui_text","z":"da5a9370.0b7cb","group":"f3bc35ce.b8f008","order":5,"width":0,"height":0,"name":"","label":"IOT App 01","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":560,"wires":[]},{"id":"8a5bfc4c.7aa4f","type":"ui_text","z":"da5a9370.0b7cb","group":"f3bc35ce.b8f008","order":6,"width":0,"height":0,"name":"","label":"IOT App 02","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":600,"wires":[]},{"id":"d69e71ad.6265d","type":"ui_text","z":"da5a9370.0b7cb","group":"f3bc35ce.b8f008","order":7,"width":0,"height":0,"name":"","label":"IOT App 03","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":640,"wires":[]},{"id":"7b56824f.aaed6c","type":"ui_text","z":"da5a9370.0b7cb","group":"f3bc35ce.b8f008","order":8,"width":0,"height":0,"name":"","label":"IOT Directory","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":680,"wires":[]},{"id":"faefd0ae.53fb9","type":"ui_text","z":"da5a9370.0b7cb","group":"f3bc35ce.b8f008","order":25,"width":0,"height":0,"name":"","label":"Virtuoso","format":"{{msg.payload}}","layout":"row-spread","x":740,"y":720,"wires":[]},{"id":"c6663c8f.f7f6d","type":"ui_text","z":"da5a9370.0b7cb","group":"f3bc35ce.b8f008","order":18,"width":0,"height":0,"name":"","label":"Opensearch-n1","format":"{{msg.payload}}","layout":"row-spread","x":760,"y":760,"wires":[]},{"id":"d1213bdb.8071d8","type":"ui_text","z":"da5a9370.0b7cb","group":"f3bc35ce.b8f008","order":19,"width":0,"height":0,"name":"","label":"OrionBroker","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":800,"wires":[]},{"id":"2ecc3c73.e79524","type":"ui_text","z":"da5a9370.0b7cb","group":"f3bc35ce.b8f008","order":20,"width":0,"height":0,"name":"","label":"OrionFilter","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":840,"wires":[]},{"id":"249993b7.c53e2c","type":"ui_text","z":"da5a9370.0b7cb","group":"f3bc35ce.b8f008","order":11,"width":0,"height":0,"name":"","label":"MyLDAP","format":"{{msg.payload}}","layout":"row-spread","x":740,"y":880,"wires":[]},{"id":"2a623a41.44bf06","type":"ui_text","z":"da5a9370.0b7cb","group":"f3bc35ce.b8f008","order":12,"width":0,"height":0,"name":"","label":"Mongo","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":920,"wires":[]},{"id":"71dfb2fe.d6593c","type":"tcp request","z":"da5a9370.0b7cb","server":"ldap-server","port":"389","out":"char","splitc":"\\n","name":"","x":270,"y":1660,"wires":[["36a000db.04ab4"]]},{"id":"36a000db.04ab4","type":"debug","z":"da5a9370.0b7cb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":350,"y":1720,"wires":[]},{"id":"b3c76fa4.a0de1","type":"inject","z":"da5a9370.0b7cb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"20","topic":"fskfdgSK","payload":"","payloadType":"date","x":210,"y":1600,"wires":[["71dfb2fe.d6593c"]]},{"id":"8355baa5.1563c8","type":"inject","z":"da5a9370.0b7cb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"120","crontab":"","once":true,"onceDelay":"20","topic":"","payload":"","payloadType":"date","x":150,"y":1020,"wires":[["18f2e63.3a36e1a"]]},{"id":"18f2e63.3a36e1a","type":"template","z":"da5a9370.0b7cb","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"LDAP,\"xx\",http://ldap-server:389/,ESOCKETTIMEDOUT,10000,on\nkafka,\"xx\",http://kafka:9092/,ECONNRESET,5000,on\nzookeeper,\"xx\",http://zookeeper:2181/,ECONNRESET,5000,on\nod-build-api,\"xx\",http://od-build-api:3000/,404,5000,on\nod-get-api,\"xx\",http://od-get-api:3200/,404,5000,on\nod-insert-api,\"xx\",http://od-insert-api:3100/,404,5000,on\nod-postgis,\"xx\",http://od-postgis:5432/,ECONNRESET,5000,on\nsolr-kb,\"xx\",http://solr-kb:8983/,200,5000,on","output":"str","x":310,"y":1020,"wires":[["21d2a546.ef0f2a"]]},{"id":"21d2a546.ef0f2a","type":"csv","z":"da5a9370.0b7cb","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":450,"y":1020,"wires":[["ab787730.15bae8","42247ad2.65ce14"]]},{"id":"544b1ce8.d8c4b4","type":"http request","z":"da5a9370.0b7cb","name":"testing url","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"650adfe9.681a5","persist":false,"proxy":"","authType":"","x":380,"y":1100,"wires":[["9d009c2.0f1166","720229a1.e20a08"]]},{"id":"7ebc8a16.cb5634","type":"delay","z":"da5a9370.0b7cb","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"6","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":190,"y":1100,"wires":[["544b1ce8.d8c4b4"]]},{"id":"42247ad2.65ce14","type":"function","z":"da5a9370.0b7cb","name":"ask","func":"// msg.other = msg.payload;\nif (msg.payload.col6===\"on\") {\nmsg = { \"url\" : msg.payload.col3,\n       \"other\" : msg.payload,\n       \"requestTimeout\" : msg.payload.col5,\n       \"rispostaattesa\" : msg.payload.col4\n    };\n}\nelse msg=null;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":1020,"wires":[["7ebc8a16.cb5634"]]},{"id":"ab787730.15bae8","type":"debug","z":"da5a9370.0b7cb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":980,"wires":[]},{"id":"9d009c2.0f1166","type":"debug","z":"da5a9370.0b7cb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":550,"y":1100,"wires":[]},{"id":"720229a1.e20a08","type":"function","z":"da5a9370.0b7cb","name":"ask","func":"var pastpay = msg.url ;\n\ntry{\n    msg.payload = \"Code \" + msg.statusCode.toString()+\" at: \"+msg.headers.date+\". Should be: \"+msg.rispostaattesa.toString();\n}\ncatch(error){\n    msg.payload = \"Code \" + msg.statusCode.toString()+\", but time couldn't be loaded. Should be: \"+msg.rispostaattesa.toString();\n}\n\nif (pastpay.includes(\"ldap-server\"))\n{\n    \n    node.warn(1)\n   return [null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,msg,null,null,null,null]\n}\nif (pastpay.includes(\"kafka\"))\n{\n    node.warn(2)\n   return [null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,msg,null,null]\n}\nif (pastpay.includes(\"od-build-api\"))\n{\n    node.warn(3)\n   return [msg,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null]\n}\nif (pastpay.includes(\"od-get-api\"))\n{\n    node.warn(4)\n   return [null,msg,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null]\n}\nif (pastpay.includes(\"od-insert-api\"))\n{\n    node.warn(5)\n   return [null,null,msg,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null]\n}\nif (pastpay.includes(\"od-postgis\"))\n{\n    node.warn(6)\n   return [null,null,null,msg,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null]\n}\nif (pastpay.includes(\"solr-kb\"))\n{\n    node.warn(7)\n   return [null,null,null,null,msg,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null]\n}\nif (pastpay.includes(\"zookeeper\"))\n{\n    node.warn(8)\n   return [null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,msg]\n}\n\nnode.warn(-1)\nreturn [null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null];","outputs":21,"noerr":0,"initialize":"","finalize":"","x":370,"y":1320,"wires":[["a0ff2418.23e978"],["e8c84ca.86ab9b"],["a5918102.40c18"],["cfd7acd6.ec0e4"],["eab516d4.dde888"],[],[],[],[],[],[],[],[],[],[],[],["c24acb73.6f62f8"],[],["ceee02fd.7e827"],[],["4e3f1a85.e96bb4"]]},{"id":"c24acb73.6f62f8","type":"ui_text","z":"da5a9370.0b7cb","group":"f3bc35ce.b8f008","order":10,"width":0,"height":0,"name":"","label":"LDAP","format":"{{msg.payload}}","layout":"row-spread","x":610,"y":1380,"wires":[]},{"id":"ceee02fd.7e827","type":"ui_text","z":"da5a9370.0b7cb","group":"f3bc35ce.b8f008","order":9,"width":0,"height":0,"name":"","label":"Kafka","format":"{{msg.payload}}","layout":"row-spread","x":610,"y":1420,"wires":[]},{"id":"4e3f1a85.e96bb4","type":"ui_text","z":"da5a9370.0b7cb","group":"f3bc35ce.b8f008","order":27,"width":0,"height":0,"name":"","label":"ZooKeeper","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":1460,"wires":[]},{"id":"eab516d4.dde888","type":"ui_text","z":"da5a9370.0b7cb","group":"f3bc35ce.b8f008","order":22,"width":0,"height":0,"name":"","label":"Solr-KB","format":"{{msg.payload}}","layout":"row-spread","x":620,"y":1340,"wires":[]},{"id":"cfd7acd6.ec0e4","type":"ui_text","z":"da5a9370.0b7cb","group":"f3bc35ce.b8f008","order":16,"width":0,"height":0,"name":"","label":"OD-Postgis","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":1300,"wires":[]},{"id":"a5918102.40c18","type":"ui_text","z":"da5a9370.0b7cb","group":"f3bc35ce.b8f008","order":15,"width":0,"height":0,"name":"","label":"OD-Insert-Api","format":"{{msg.payload}}","layout":"row-spread","x":640,"y":1260,"wires":[]},{"id":"e8c84ca.86ab9b","type":"ui_text","z":"da5a9370.0b7cb","group":"f3bc35ce.b8f008","order":14,"width":0,"height":0,"name":"","label":"OD-Get-Api","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":1220,"wires":[]},{"id":"a0ff2418.23e978","type":"ui_text","z":"da5a9370.0b7cb","group":"f3bc35ce.b8f008","order":13,"width":0,"height":0,"name":"","label":"OD-Build-Api","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":1180,"wires":[]},{"id":"4ff831f4.5fdf","type":"inject","z":"4eef67a.2f64a98","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"600","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":110,"y":60,"wires":[["26af1208.875bae"]]},{"id":"ce6f4556.f4cef8","type":"http request","z":"4eef67a.2f64a98","name":"getDataTable","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":110,"y":160,"wires":[["968ff12.f62d91"]]},{"id":"968ff12.f62d91","type":"json","z":"4eef67a.2f64a98","name":"","property":"payload","action":"","pretty":false,"x":90,"y":420,"wires":[["33fb23ea.c5f92c","ea2c2e08.9158d","c61c6e15.784c3","f43fffbe.2a7d2","8fba455f.102b18","e6723a39.a6f968","c1b5953d.2ebfd8","c9e708d8.924f48"]]},{"id":"33fb23ea.c5f92c","type":"function","z":"4eef67a.2f64a98","name":"processDataTableResultForModelCreation","func":"var model_values=msg.payload.Model.Values;\nvar coord_type=msg.payload.File.coord_type;\nglobal.set(\"context_broker\",msg.payload.Model.context_broker);  \nvar attributes =[];\n\n\nvar params='action=insert&nodered=nodered';\n\n params=params+'&name='+encodeURIComponent(msg.payload.Model.name.split(\" \").join(\"\").replace(\"|\",\"_\"));\n params=params+'&description='+encodeURIComponent(msg.payload.Model.description);\n params=params+'&type='+encodeURIComponent('DataTable');\n params=params+'&format='+encodeURIComponent('json');\n params=params+'&kind='+encodeURIComponent('sensor');\n params=params+'&frequency='+encodeURIComponent('0');\n params=params+'&contextbroker='+encodeURIComponent(msg.payload.Model.context_broker);\n params=params+'&kgenerator='+encodeURIComponent('');\n params=params+'&hc='+encodeURIComponent('');\n params=params+'&hv='+encodeURIComponent('');\n params=params+'&producer='+encodeURIComponent('');\n params=params+'&subnature='+encodeURIComponent(msg.payload.Model.sub_nature);\n //params=params+'&attributes =';\n\nfor (var i = 0; i < model_values.length; i++) {\n\nattributes.push({ \n        \"value_name\" : model_values[i].name.replace(\" \",\"_\"),\n        \"data_type\"  : model_values[i].data_type,\n        \"value_type\" : model_values[i].value_type,\n        \"editable\" : 0,\n        \"value_unit\" : model_values[i].value_unit,\n        \"healthiness_criteria\" : 'refresh_rate',\n        \"healthiness_value\" : 100\n    });\n}\n\nparams=params+'&attributes='+encodeURIComponent(JSON.stringify(attributes));\nmsg.url='$#base-url#$/iot-directory/api/model.php?'+params;\nmsg.payload.url=msg.url;\n//msg.headers={};\n//msg.headers['Authorization'] =\"Bearer eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICJRczF6Wko2REIyTlp0ajB3RlVHNlFfN2JwZGhuRnRFX1NMZFdHb29CSUFFIn0.eyJqdGkiOiI4MjJmN2U4Mi05OTczLTRhMDUtYjYyZC1iNzczYmJiZDY4OTUiLCJleHAiOjE2MTY1NjkyOTcsIm5iZiI6MCwiaWF0IjoxNjE2NTY3NTA0LCJpc3MiOiJodHRwczovL3d3dy5kaXNpdC5vcmcvYXV0aC9yZWFsbXMvbWFzdGVyIiwiYXVkIjoicHJvY2Vzc2xvYWRlci10ZXN0Iiwic3ViIjoiMTllZTkwZWQtY2M4ZC00NDk2LTgyNzEtZWFjY2Q4NWI2ODMyIiwidHlwIjoiQmVhcmVyIiwiYXpwIjoicHJvY2Vzc2xvYWRlci10ZXN0Iiwibm9uY2UiOiIwNmJjZjc5ZjZjOWI1Yzc0MDBiZDQ3OTFkY2ZjYjk0NSIsImF1dGhfdGltZSI6MTYxNjU2NzQ5Nywic2Vzc2lvbl9zdGF0ZSI6IjU3ZTI1NDc4LTA4MDQtNDRkOS1hODhmLTZjYWE0MGI1NjI0YiIsImFjciI6IjEiLCJhbGxvd2VkLW9yaWdpbnMiOltdLCJyZWFsbV9hY2Nlc3MiOnsicm9sZXMiOlsiQXJlYU1hbmFnZXIiLCJ1bWFfYXV0aG9yaXphdGlvbiJdfSwicmVzb3VyY2VfYWNjZXNzIjp7ImFjY291bnQiOnsicm9sZXMiOlsibWFuYWdlLWFjY291bnQiLCJtYW5hZ2UtYWNjb3VudC1saW5rcyIsInZpZXctcHJvZmlsZSJdfX0sInJvbGVzIjpbInVtYV9hdXRob3JpemF0aW9uIiwiQXJlYU1hbmFnZXIiLCJvZmZsaW5lX2FjY2VzcyJdLCJwcmVmZXJyZWRfdXNlcm5hbWUiOiJtaXJjby1hcmVhbWFuYWdlciIsImVtYWlsIjoiYW5nZUBhbmdlMS5ra2sifQ.Bo0VjoRr9df2ho07MyBzw_uDAFqcSc76AhfLzeCdiIEc_H5gRuq8Lt0D92WHPUhmH5c2tWniZKjkAqSUR7z4X-NzmQPZGajsZUvqDfSnKf-dzpzijnZfKj7vqqu_bHPc5vJM39ha6MiipL00c59nhalcL1cIMfyq9XPABZjqa1HCc0Owce5YhuZk2m9jMfzexglZs_U6Jst0Gjc-C5UuTwcCQLPUCBN6mz7YefqEUmOtICtG3AdIwxQGr6pyKhLAoJcjAmusQwamz2wK_msn1vH_rHLZYs2sG3Ln_XhtCRGnQCWhLLPWccFMlVu0FOc1XP5p2W9nynvb7Wc2csZ_Aw\";\nmsg.complete=true;\n\n//msg.payload=params;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":429,"y":160,"wires":[["c87e7be6.12f638"]]},{"id":"c87e7be6.12f638","type":"function","z":"4eef67a.2f64a98","name":"composeModelCreationApiUrl","func":"var at=global.get(\"access_token\");  // this is now available to other nodes\nmsg.url=msg.payload.url;\nmsg.headers={};\nmsg.headers['Authorization']=\"Bearer \"+at;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740.25,"y":159.99999237060547,"wires":[["c133a1e2.7dbc3"]]},{"id":"15ab15dd.46b52a","type":"function","z":"4eef67a.2f64a98","name":"composegetDataTableApiUrl","func":"global.set(\"element_id\",msg.payload.element_id);  // this is now available to other nodes\nvar at=global.get(\"access_token\");  // this is now available to other nodes\n//msg.url='$#base-url#$/processloader/datatablemanager_getDataTable.php?elementId='+msg.payload.element_id+'&access_token='+msg.payload.access_token;\nmsg.url='$#base-url#$/processloader/datatablemanager_getDataTable.php?elementId='+msg.payload.element_id+'&access_token='+at;\n\n//msg.url='$#base-url#$/processloader/datatablemanager_getDataTable.php?elementId=Basic%20Sizes%20of%20Incoming%20Tourism%20of%20the%20Region%20of%20Western%20Greece.xlsx|1617978422&access_token=eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICJOZVBpSFRvREtibWZzbl9hREtETGpGTHFKQXluTXNNWjZjS1lMeGRoS29zIn0.eyJqdGkiOiI4OGE0Y2RhMS01NzgyLTRmODAtYmE3Ni04MDcyNmI1ZWVjMDYiLCJleHAiOjE2MTgyNDM1NzcsIm5iZiI6MCwiaWF0IjoxNjE4MjQyMDc3LCJpc3MiOiJodHRwczovL3d3dy5zbmFwNGNpdHkub3JnL2F1dGgvcmVhbG1zL21hc3RlciIsImF1ZCI6InBocC1wcm9jZXNzbG9hZGVyIiwic3ViIjoiYTUwYzAyOTktYmFhZS00ZTI2LTgwODEtMjlkODgwYjBiNzU3IiwidHlwIjoiQmVhcmVyIiwiYXpwIjoicGhwLXByb2Nlc3Nsb2FkZXIiLCJub25jZSI6IjE4M2E1YzdmYzk5ZjExNTdhN2VlOTlkMzFkZWJjMTM4IiwiYXV0aF90aW1lIjoxNjE4MjE3Njk2LCJzZXNzaW9uX3N0YXRlIjoiMDIwNjRlZDItODRkYy00YTZmLTlhODgtZDM5NjZmMWJhOWRmIiwiYWNyIjoiMCIsImFsbG93ZWQtb3JpZ2lucyI6W10sInJlYWxtX2FjY2VzcyI6eyJyb2xlcyI6WyJBcmVhTWFuYWdlciIsInVtYV9hdXRob3JpemF0aW9uIl19LCJyZXNvdXJjZV9hY2Nlc3MiOnsiYWNjb3VudCI6eyJyb2xlcyI6WyJtYW5hZ2UtYWNjb3VudCIsIm1hbmFnZS1hY2NvdW50LWxpbmtzIiwidmlldy1wcm9maWxlIl19fSwicm9sZXMiOlsiQXJlYU1hbmFnZXIiLCJ1bWFfYXV0aG9yaXphdGlvbiIsIm9mZmxpbmVfYWNjZXNzIl0sIm5hbWUiOiJzdXJuYW1lIiwicHJlZmVycmVkX3VzZXJuYW1lIjoicGFvbG8ud2VzdGdyZWVrIiwiZmFtaWx5X25hbWUiOiJzdXJuYW1lIiwiZW1haWwiOiJwYS5vLm4uZS5zLmlAZ21haWwuY29tIn0.cFvOAfq0p6dHiWVisaoDVEyJDQtHt93neG_gE54P-uvB5JbYecqIII0GH7FcjelHZ0RdOjL2ua7N63tuoM_YYcnqyLXqNopMA4vMPQ416DFv4oIFjBTWptFbm8tUhHz3FOK-q03D7XsbykUm2iBgeJXUiCebR6CUjPC-T6k8rp1lcMs-3GS1CNWeSsO3QtWqQR4t1HVtRd5Rs1jLGB9oZrjh81RNCI8BqPnuck-LezUBm4DbhmxkRLt2xFX2Ak6jW2_U8mSqkjvwpCt5te0SErssSbY4A073I80N5y7a9tC0MWfOZGMEA9y7nSY5JIs3aAAIomrjJH8rx0tiVxv4MA';\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1298.0001068115234,"y":54.000000953674316,"wires":[["ce6f4556.f4cef8"]]},{"id":"1a891d8f.9db192","type":"function","z":"4eef67a.2f64a98","name":"processDataTableResultForDeviceCreation","func":"var devices=msg.payload.Devices;\n//var coord_type=msg.payload.File.coord_type;\nvar output=[];\n//global.set(\"device_count\",msg.payload.Devices.length);  \n//global.set(\"device_index\",0);\n\n// var device_names=[];\n \n//for(var index=0;index<msg.payload.Devices.length;index++){\n//    var device=msg.payload.Devices[index].name.split(\" \").join(\"\");\n//    device_names.push({\"payload\":{\"device_name\":device}});\n//}\n\n//global.set(\"device_names\",device_names);\n\n\nfor(var device_index=0;device_index<msg.payload.Devices.length;device_index++){\n\nvar model=msg.payload.Model.name.split(\" \").join(\"\").replace(\"|\",\"_\");\nvar devicename=msg.payload.Devices[device_index].name.split(\" \").join(\"\");\n//devicename=devicename.split(\".\").join(\"_\");\n\nif(msg.payload.File.coord_type=='file'){\n    \nvar device_output={};\ndevice_output.payload={};    \n    \ndevice_output.payload.devicename=devicename;\ndevice_output.payload.model=model;\n    \nvar latitude=msg.payload.Model.lat;\nvar longitude=msg.payload.Model.lon;    \n\ndevice_output.payload.latitude=latitude;\ndevice_output.payload.longitude=longitude;\n\n}else if(msg.payload.File.coord_type=='row'){\n    \nvar device_output={};\ndevice_output.payload={};    \n    \ndevice_output.payload.devicename=devicename;\ndevice_output.payload.model=model;    \n\ndevice_output.payload.latitude=msg.payload.Devices[device_index].lat;\ndevice_output.payload.longitude=msg.payload.Devices[device_index].lon;    \n\n//coord_type='address'    \n}else if(msg.payload.Devices[device_index].lat!==\"\" && msg.payload.Devices[device_index].lon!==\"\"){\n    \nvar device_output={};\ndevice_output.payload={};    \n    \ndevice_output.payload.devicename=devicename;\ndevice_output.payload.model=model;\n    \ndevice_output.payload.latitude=msg.payload.Devices[device_index].lat;\ndevice_output.payload.longitude=msg.payload.Devices[device_index].lon;  \n}\n\n//node.send(msg);\noutput.push(device_output);\n}\n\nreturn [output];","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":260,"wires":[["2145b05d.ae398","e6859fa9.9097c"]]},{"id":"2145b05d.ae398","type":"iotdirectory-new-device-from-model","z":"4eef67a.2f64a98","name":"","authentication":"","devicename":"","latitude":"","longitude":"","k1":"22e31fe2-0d93-46d7-bb1f-ed2763d5bc6b","k2":"59297638-48a1-4f86-afa4-22fd61880996","model":"","selectedModel":"","staticAttributeList":[],"x":880,"y":260,"wires":[["8a7da3e4.65cc2","e6859fa9.9097c"]]},{"id":"cf542be9.61e378","type":"function","z":"4eef67a.2f64a98","name":"modelCreationCompleted","func":"//var device_count=global.get('device_count');\n//var device_index=global.get(\"device_index\");\n//if(device_count-1==device_index){\n//    msg.complete=true;\n//}else{\n //   global.set(\"device_index\",device_index+1);\n//}\n\nmsg.complete=true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1170,"y":160,"wires":[["4fc4adf6.789754"]]},{"id":"ea2c2e08.9158d","type":"join","z":"4eef67a.2f64a98","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":310,"y":260,"wires":[["1a891d8f.9db192"]]},{"id":"26af1208.875bae","type":"subflow:53bf3758.e51e28","z":"4eef67a.2f64a98","name":"","env":[],"x":280,"y":60,"wires":[["e0d139a2.317158"]]},{"id":"c61c6e15.784c3","type":"join","z":"4eef67a.2f64a98","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":310,"y":440,"wires":[["f7c46e2e.f7003","fffaec96.b4729"]]},{"id":"f7c46e2e.f7003","type":"function","z":"4eef67a.2f64a98","name":"processDataTableResultInstanceCreation","func":"var instances = msg.payload.Instances;\nvar output = [];\n\nfor (var instance_index = 0; instance_index < instances.length; instance_index++) {\n\n    //device_url='http://www.disit.org/km4city/resource/iot/'+msg.payload.Model.context_broker+'/'+'WestGreece'+msg.payload.Devices[instance_index].name.split(\" \").join(\"\");\n    device_url = msg.payload.Devices[instance_index].name.split(\" \").join(\"\");\n\n    var instance = instances[instance_index].Values;\n\n    for (var instance_row_index = 0; instance_row_index < instance.length; instance_row_index++) {\n\n        var instance_row = instance[instance_row_index].split(\"|\");\n        var instance_row_output = {};\n\n        instance_row_output = {\n            \"id\": device_url,\n            \"type\": 'DataTable',\n        };\n\n        for (feature_index = 0; feature_index < instance_row.length; feature_index++) {\n            var address_lon = instance_row[instance_row.length - 1];\n            var address_lat = instance_row[instance_row.length - 2];\n            if (msg.payload.File.coord_type == 'address' && address_lon !== \"\" && address_lat !== \"\") {\n\n                var name = msg.payload.Model.Values[feature_index].name;\n                var type = msg.payload.Model.Values[feature_index].data_type;\n                var value = instance_row[feature_index];\n\n                var attribute = {\n                    \"value\": value,\n                    \"type\": type\n                };\n\t\t\t\t\n                instance_row_output[name] = attribute;\n\n            }else if(msg.payload.File.coord_type != 'address'){\n\t\t\t\tvar name = msg.payload.Model.Values[feature_index].name;\n                var type = msg.payload.Model.Values[feature_index].data_type;\n                var value = instance_row[feature_index];\n\n                var attribute = {\n                    \"value\": value,\n                    \"type\": type\n                };\n                instance_row_output[name] = attribute;\n\t\t\t}\n            output.push(instance_row_output);\n        }\n    }\n}\n\nreturn {\n    \"payload\": {\n        \"instances\": output\n    }\n};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":480,"wires":[["ca047eab.4043b","a837e074.93042"]]},{"id":"e0d139a2.317158","type":"function","z":"4eef67a.2f64a98","name":"composeElementIdListApiUrl","func":"global.set(\"access_token\",msg.payload.access_token);  // this is now available to other nodes\n // this is now available to other nodes\n\nmsg.url='$#base-url#$/processloader/datatablemanager_getProcessList.php?access_token='+msg.payload.access_token;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":60,"wires":[["9783b370.894e7"]]},{"id":"d0fdf790.005968","type":"function","z":"4eef67a.2f64a98","name":"manageElementIdListToProcess","func":"//msg.payload=msg.payload.element_id;\nvar output=[];\nglobal.set(\"move_to_next\",true); \nglobal.set(\"element_id_index\",0); \nvar move_to_next=global.get('move_to_next');\n\nvar element_id_index=global.get(\"element_id_index\");\nwhile(global.get(\"element_id_index\")<msg.payload.element_id.length){\n//for(var index=0;index<msg.payload.element_id.length;index++){\n    \n  var index=global.get(\"element_id_index\"); \n if(move_to_next){\n     output.push({\"payload\":{\"element_id\":msg.payload.element_id[global.get(\"element_id_index\")]}});\n    global.set(\"move_to_next\",false); \n    global.set(\"element_id_index\",index+1); \n    context.set(\"created\",0);\n    context.set(\"created_instances\",0);\n    return [output];\n      }\n    \n    if(index===0){\n        output.push({\"payload\":{\"element_id\":msg.payload.element_id[global.get(\"element_id_index\")]}});\n        global.set(\"element_id_index\",index+1); \n        return [output];\n    }\n    \n    }\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":60,"wires":[["15ab15dd.46b52a"]]},{"id":"c133a1e2.7dbc3","type":"http request","z":"4eef67a.2f64a98","name":"createModel","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":970,"y":160,"wires":[["cf542be9.61e378"]]},{"id":"74201025.2822e","type":"comment","z":"4eef67a.2f64a98","name":"get IDs of files to be ingested","info":"","x":480,"y":20,"wires":[]},{"id":"df841a53.5dcc08","type":"comment","z":"4eef67a.2f64a98","name":"fetch device data via API","info":"","x":150,"y":100,"wires":[]},{"id":"3e8e712b.15cefe","type":"comment","z":"4eef67a.2f64a98","name":"model creation using developed microservice","info":"","x":1489,"y":160,"wires":[]},{"id":"26ea6f90.99fe8","type":"comment","z":"4eef67a.2f64a98","name":"device creation using developed microservice","info":"","x":1489,"y":280,"wires":[]},{"id":"979a223.31e7ce","type":"comment","z":"4eef67a.2f64a98","name":"instance creation","info":"","x":1580,"y":520,"wires":[]},{"id":"9783b370.894e7","type":"http request","z":"4eef67a.2f64a98","name":"getElementList","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":740,"y":60,"wires":[["d0fdf790.005968","e6859fa9.9097c"]]},{"id":"2323337c.8fb7ac","type":"http request","z":"4eef67a.2f64a98","name":"MakeDevicePublic","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":810,"y":440,"wires":[["25b86014.76aca","74afa8d4.71c268"]]},{"id":"fffaec96.b4729","type":"function","z":"4eef67a.2f64a98","name":"composeMakeDevicePublicApiUrl","func":"var cb=global.get(\"context_broker\"); \nvar at=global.get(\"access_token\");\n//var device_names=global.get(\"device_names\");\nvar outputs=[];\n\n\n\nfor(var device_index=0;device_index<msg.payload.Devices.length;device_index++){\n    var devicename=msg.payload.Devices[device_index].name.split(\" \").join(\"\");\n    //devicename=devicename.split(\".\").join(\"_\");\n    var output={};\n    output.url='$#base-url#$/iot-directory/api/device.php?action=change_visibility&visibility=public&contextbroker='+cb+'&token='+at+'&id='+devicename+'&k1=&k2=&nodered';\n    //output.method='POST';\n   // output.payload={};\n   // output.payload.action='change_visibility';\n   // output.payload.visibility='public';\n   // output.payload.contexBroker=cb;\n   // output.payload.token=at;\n   // output.payload.id=devicename;\n    //output.payload.k1='';\n  //  output.payload.k2='';\n    \n    \n    //output.payload='action=change_visibility';\n    outputs.push(output);\n}\n\nreturn [outputs];","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":440,"wires":[["2323337c.8fb7ac"]]},{"id":"d4ca5810.5308f8","type":"function","z":"4eef67a.2f64a98","name":"accumulateCreatedDevices","func":"var created = 1 + (context.get('created')||0);\ncontext.set(\"created\",created);\n\nif(msg.payload.Devices) context.set(\"total\",msg.payload.Devices.length);\nvar total = context.get('total')||0;\n\nif( created == total ) return { \"complete\": true }\n    ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":380,"wires":[["f43fffbe.2a7d2","41b0db2.023bd24"]]},{"id":"f43fffbe.2a7d2","type":"join","z":"4eef67a.2f64a98","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":710,"y":380,"wires":[["af319956.3dc8b8"]]},{"id":"8fba455f.102b18","type":"join","z":"4eef67a.2f64a98","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":310,"y":380,"wires":[["d4ca5810.5308f8","c9e708d8.924f48"]]},{"id":"8a7da3e4.65cc2","type":"function","z":"4eef67a.2f64a98","name":"deviceCreationCompleted","func":"msg.complete=true;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1150,"y":260,"wires":[["84a6dc5c.f71bc"]]},{"id":"af319956.3dc8b8","type":"function","z":"4eef67a.2f64a98","name":"devicesCreationCompleted","func":"msg.complete=true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":380,"wires":[["c61c6e15.784c3"]]},{"id":"30b08c2c.c89794","type":"function","z":"4eef67a.2f64a98","name":"accumulateCreatedInstances","func":"var created = 1 + (context.get('created_instances')||0);\ncontext.set(\"created_instances\",created);\n\nif(msg.payload.Devices) context.set(\"total_instances\",msg.payload.Devices.length);\nvar total = context.get('total_instances')||0;\n\nif( created == total ) return { \"complete\": true }\n    ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":520,"wires":[["ca047eab.4043b"]]},{"id":"ca047eab.4043b","type":"join","z":"4eef67a.2f64a98","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":710,"y":520,"wires":[["4497010f.75de9"]]},{"id":"e6723a39.a6f968","type":"join","z":"4eef67a.2f64a98","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":310,"y":520,"wires":[["30b08c2c.c89794","c9e708d8.924f48"]]},{"id":"25b86014.76aca","type":"function","z":"4eef67a.2f64a98","name":"makeDevicesPublicCompleted","func":"return { \"complete\": true }","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":440,"wires":[["e6723a39.a6f968"]]},{"id":"4497010f.75de9","type":"function","z":"4eef67a.2f64a98","name":"sendInstancesOneByOneToBroker","func":"var output=[];\n\nfor(var index=0;index<msg.payload.instances.length;index++){\n\nvar instance_output={};\ninstance_output.payload=msg.payload.instances[index];\n\noutput.push(instance_output);\n}\n\nreturn [output];\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":520,"wires":[["fbd900e5.758c6"]]},{"id":"ecc9df1b.e0532","type":"function","z":"4eef67a.2f64a98","name":"composeModelCreationUpdateStatusApiUrl","func":"var element_id = global.get(\"element_id\");  // this should now be \"bar\"\n\n//THE FOLLOWING QUERY to change the status to 'NOT PROCESSED'\n//msg.url=\"$#base-url#$/processloader/datatablemanager_updateProcessStatus.php?element_id=\"+msg.payload+\"&status=NO\";\n\n//THE FOLLOWING QUERY to change the status to 'PROCESSED'\nmsg.url=\"$#base-url#$/processloader/datatablemanager_updateProcessStatus.php?element_id=\"+element_id+\"&status=model\";\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":200,"wires":[["5d3ec5eb.63610c"]]},{"id":"5d3ec5eb.63610c","type":"http request","z":"4eef67a.2f64a98","name":"modelCreationUpdateStatus","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":860,"y":200,"wires":[["e81e1cb3.ea9f3"]]},{"id":"e81e1cb3.ea9f3","type":"function","z":"4eef67a.2f64a98","name":"modelCreationUpdateStatusCompleted","func":"//var device_count=global.get('device_count');\n//var device_index=global.get(\"device_index\");\n//if(device_count-1==device_index){\n//    msg.complete=true;\n//}else{\n //   global.set(\"device_index\",device_index+1);\n//}\n\nmsg.complete=true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1150,"y":200,"wires":[["ea2c2e08.9158d"]]},{"id":"4fc4adf6.789754","type":"join","z":"4eef67a.2f64a98","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":310.00000762939453,"y":204.00000190734863,"wires":[["ecc9df1b.e0532"]]},{"id":"63cf2988.c7c738","type":"comment","z":"4eef67a.2f64a98","name":"update status: model created","info":"","x":1439,"y":200,"wires":[]},{"id":"4d50a52.b85b55c","type":"comment","z":"4eef67a.2f64a98","name":"manage the ownership","info":"","x":1419,"y":420,"wires":[]},{"id":"dd477774.dd86c8","type":"orion-out-api-v2","z":"4eef67a.2f64a98","name":"","authentication":"","tls":"","service":"1ddb946d.5c054c","entype":"DataTable","enid":"","userk1":"","passk2":"","tenant":"","servicepath":"","apikey":"","basicAuth":"","x":1400,"y":520,"wires":[]},{"id":"a095b6f2.6eb898","type":"function","z":"4eef67a.2f64a98","name":"composeDeviceCreationUpdateStatusApiUrl","func":"var element_id = global.get(\"element_id\");  // this should now be \"bar\"\n\n//THE FOLLOWING QUERY to change the status to 'NOT PROCESSED'\n//msg.url=\"$#base-url#$/processloader/datatablemanager_updateProcessStatus.php?element_id=\"+msg.payload+\"&status=NO\";\n\n//THE FOLLOWING QUERY to change the status to 'PROCESSED'\nmsg.url=\"$#base-url#$/processloader/datatablemanager_updateProcessStatus.php?element_id=\"+element_id+\"&status=device\";\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":320,"wires":[["48cc186a.f50238"]]},{"id":"48cc186a.f50238","type":"http request","z":"4eef67a.2f64a98","name":"deviceCreationUpdateStatus","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":860,"y":320,"wires":[["e2577014.3afdf"]]},{"id":"e2577014.3afdf","type":"function","z":"4eef67a.2f64a98","name":"deviceCreationUpdateStatusCompleted","func":"return { \"complete\": true }\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1160,"y":320,"wires":[["8fba455f.102b18"]]},{"id":"84a6dc5c.f71bc","type":"join","z":"4eef67a.2f64a98","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":304,"y":320,"wires":[["a095b6f2.6eb898"]]},{"id":"e9338b1f.9af488","type":"function","z":"4eef67a.2f64a98","name":"composeElementIdUpdateStatusApiUrl","func":"var element_id = global.get(\"element_id\");  // this should now be \"bar\"\n\n//THE FOLLOWING QUERY to change the status to 'NOT PROCESSED'\n//msg.url=\"$#base-url#$/processloader/datatablemanager_updateProcessStatus.php?element_id=\"+msg.payload+\"&status=NO\";\n\n//THE FOLLOWING QUERY to change the status to 'PROCESSED'\nmsg.url=\"$#base-url#$/processloader/datatablemanager_updateProcessStatus.php?element_id=\"+element_id+\"&status=YES\";\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":640,"wires":[["c93c8949.8a9568"]]},{"id":"c93c8949.8a9568","type":"http request","z":"4eef67a.2f64a98","name":"updateElementIdStatus","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1190,"y":640,"wires":[[]]},{"id":"9d05e77a.78e448","type":"join","z":"4eef67a.2f64a98","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":640,"wires":[["e9338b1f.9af488"]]},{"id":"c2c8672e.1f7dd8","type":"function","z":"4eef67a.2f64a98","name":"accumulateLoadedInstances","func":"var created = 1 + (context.get('created_instances')||0);\ncontext.set(\"created_instances\",created);\n\n\nif(msg.payload.Instances) {\nvar total_instances=0;    \n    for(var instance_index=0;instance_index<msg.payload.Instances.length;instance_index++){\n        var instance=msg.payload.Instances[instance_index];\n        var instance_count=instance.Values.length;\n        total_instances+=instance_count;\n    }\n    context.set(\"total_instances\",total_instances);\n}\nvar total = context.get('total_instances')||0;\n\nif( created == total ) return { \"complete\": true }\n    ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":640,"wires":[["9d05e77a.78e448"]]},{"id":"c1b5953d.2ebfd8","type":"join","z":"4eef67a.2f64a98","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":310,"y":640,"wires":[["c2c8672e.1f7dd8"]]},{"id":"a3b03f41.f7e97","type":"function","z":"4eef67a.2f64a98","name":"loadingInstancesToBrokerCompleted","func":"msg.complete=true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":580,"wires":[["c1b5953d.2ebfd8"]]},{"id":"e54fbf0e.aef8f","type":"comment","z":"4eef67a.2f64a98","name":"update status: device(s) created","info":"","x":1449,"y":320,"wires":[]},{"id":"4086fe0d.b233","type":"comment","z":"4eef67a.2f64a98","name":"update status: instance(s) loaded to the broker","info":"","x":1489,"y":620,"wires":[]},{"id":"c9e708d8.924f48","type":"debug","z":"4eef67a.2f64a98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":760,"wires":[]},{"id":"fbd900e5.758c6","type":"delay","z":"4eef67a.2f64a98","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1190,"y":520,"wires":[["dd477774.dd86c8","a3b03f41.f7e97"]]},{"id":"e6859fa9.9097c","type":"debug","z":"4eef67a.2f64a98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":20,"wires":[]},{"id":"74afa8d4.71c268","type":"debug","z":"4eef67a.2f64a98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1170,"y":400,"wires":[]},{"id":"a837e074.93042","type":"debug","z":"4eef67a.2f64a98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":900,"y":600,"wires":[]},{"id":"41b0db2.023bd24","type":"debug","z":"4eef67a.2f64a98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":340,"wires":[]},{"id":"69fa5b8c.43c654","type":"inject","z":"4eef67a.2f64a98","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":290,"y":780,"wires":[["25431492.1fa56c"]]},{"id":"25431492.1fa56c","type":"function","z":"4eef67a.2f64a98","name":"","func":"msg.payload={\n    \"created\": context.get(\"created\"),\n    \"created_instances\": context.get(\"created_instances\")\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":820,"wires":[["c9e708d8.924f48"]]},{"id":"4ff7cc07.4d52c4","type":"inject","z":"9cee819b.19182","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":100,"y":140,"wires":[["ab62e96a.edfac8"]]},{"id":"bfb72c3.9342bd","type":"http request","z":"9cee819b.19182","name":"getPOIRequest","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":480,"y":360,"wires":[["9c889327.a228","5f1e36b2.b1d028"]]},{"id":"348bf8e1.da3c48","type":"function","z":"9cee819b.19182","name":"composegetDataTableUrl","func":"flow.set(\"element_id\",msg.payload.element_id);  // this is now available to other node\n\n\nvar at=flow.get(\"access_token\");  // this is now available to other nodes\nvar elid = flow.get(\"element_id\"); \n\n//msg.url='$#base-url#$/processloader/datatablemanager_getDataTable.php?elementId='+msg.payload.element_id+'&access_token='+msg.payload.access_token;\n//msg.url='$#base-url#$/processloader/poimanager_getDataTableList.php?elementId='+msg.payload.element_id+'&access_token='+at;\n\nmsg.url='$#base-url#$/processloader/poimanager_getDataTable.php?elementId='+ elid+'&access_token='+at;\n\n//msg.url='$#base-url#$/processloader/datatablemanager_getDataTable.php?elementId=Basic%20Sizes%20of%20Incoming%20Tourism%20of%20the%20Region%20of%20Western%20Greece.xlsx|1617978422&access_token=eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICJOZVBpSFRvREtibWZzbl9hREtETGpGTHFKQXluTXNNWjZjS1lMeGRoS29zIn0.eyJqdGkiOiI4OGE0Y2RhMS01NzgyLTRmODAtYmE3Ni04MDcyNmI1ZWVjMDYiLCJleHAiOjE2MTgyNDM1NzcsIm5iZiI6MCwiaWF0IjoxNjE4MjQyMDc3LCJpc3MiOiJodHRwczovL3d3dy5zbmFwNGNpdHkub3JnL2F1dGgvcmVhbG1zL21hc3RlciIsImF1ZCI6InBocC1wcm9jZXNzbG9hZGVyIiwic3ViIjoiYTUwYzAyOTktYmFhZS00ZTI2LTgwODEtMjlkODgwYjBiNzU3IiwidHlwIjoiQmVhcmVyIiwiYXpwIjoicGhwLXByb2Nlc3Nsb2FkZXIiLCJub25jZSI6IjE4M2E1YzdmYzk5ZjExNTdhN2VlOTlkMzFkZWJjMTM4IiwiYXV0aF90aW1lIjoxNjE4MjE3Njk2LCJzZXNzaW9uX3N0YXRlIjoiMDIwNjRlZDItODRkYy00YTZmLTlhODgtZDM5NjZmMWJhOWRmIiwiYWNyIjoiMCIsImFsbG93ZWQtb3JpZ2lucyI6W10sInJlYWxtX2FjY2VzcyI6eyJyb2xlcyI6WyJBcmVhTWFuYWdlciIsInVtYV9hdXRob3JpemF0aW9uIl19LCJyZXNvdXJjZV9hY2Nlc3MiOnsiYWNjb3VudCI6eyJyb2xlcyI6WyJtYW5hZ2UtYWNjb3VudCIsIm1hbmFnZS1hY2NvdW50LWxpbmtzIiwidmlldy1wcm9maWxlIl19fSwicm9sZXMiOlsiQXJlYU1hbmFnZXIiLCJ1bWFfYXV0aG9yaXphdGlvbiIsIm9mZmxpbmVfYWNjZXNzIl0sIm5hbWUiOiJzdXJuYW1lIiwicHJlZmVycmVkX3VzZXJuYW1lIjoicGFvbG8ud2VzdGdyZWVrIiwiZmFtaWx5X25hbWUiOiJzdXJuYW1lIiwiZW1haWwiOiJwYS5vLm4uZS5zLmlAZ21haWwuY29tIn0.cFvOAfq0p6dHiWVisaoDVEyJDQtHt93neG_gE54P-uvB5JbYecqIII0GH7FcjelHZ0RdOjL2ua7N63tuoM_YYcnqyLXqNopMA4vMPQ416DFv4oIFjBTWptFbm8tUhHz3FOK-q03D7XsbykUm2iBgeJXUiCebR6CUjPC-T6k8rp1lcMs-3GS1CNWeSsO3QtWqQR4t1HVtRd5Rs1jLGB9oZrjh81RNCI8BqPnuck-LezUBm4DbhmxkRLt2xFX2Ak6jW2_U8mSqkjvwpCt5te0SErssSbY4A073I80N5y7a9tC0MWfOZGMEA9y7nSY5JIs3aAAIomrjJH8rx0tiVxv4MA';\nmsg.Element_id= elid\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":360,"wires":[["bfb72c3.9342bd","3b9c340a.9da6fc"]]},{"id":"3b9c340a.9da6fc","type":"debug","z":"9cee819b.19182","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"url","targetType":"msg","statusVal":"","statusType":"auto","x":480,"y":320,"wires":[]},{"id":"9c889327.a228","type":"debug","z":"9cee819b.19182","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":280,"wires":[]},{"id":"49afbfde.2ce6f","type":"function","z":"9cee819b.19182","name":"composeElementIdListUrl","func":"flow.set(\"access_token\",msg.payload.access_token);  \n// this is now available to other nodes\nmsg.url='$#base-url#$/processloader/poimanager_getProcessList.php?access_token='+msg.payload.access_token;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":140,"wires":[["c1bcaf85.434d3","986b60c8.9a88a"]]},{"id":"ef3fbc74.42b45","type":"json","z":"9cee819b.19182","name":"","property":"payload","action":"","pretty":false,"x":70,"y":280,"wires":[["b34e5858.4250c8","f02320ad.76bdc","b20254f5.bbb4a8"]]},{"id":"f02320ad.76bdc","type":"function","z":"9cee819b.19182","name":"manageElementIdListToProcess","func":"//msg.payload=msg.payload.element_id;\nvar output=[];\n\nfor(var index=0;index<msg.payload.element_id.length;index++){\n        output.push({\"payload\":{\"element_id\":msg.payload.element_id[index]}});\n    }\n\nreturn [output];\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":260,"wires":[["9b554a05.ef4a38","348bf8e1.da3c48"]]},{"id":"feb767c3.5931e8","type":"comment","z":"9cee819b.19182","name":"FLOW: get ElementI IDs to be Processed","info":"","x":140,"y":40,"wires":[]},{"id":"67272ed3.ffb66","type":"comment","z":"9cee819b.19182","name":"FLOW: getDataTableAPI Result","info":"","x":970,"y":200,"wires":[]},{"id":"9b554a05.ef4a38","type":"debug","z":"9cee819b.19182","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":240,"wires":[]},{"id":"986b60c8.9a88a","type":"http request","z":"9cee819b.19182","name":"elementListRequest","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":880,"y":140,"wires":[["ef3fbc74.42b45"]]},{"id":"c1bcaf85.434d3","type":"debug","z":"9cee819b.19182","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"url","targetType":"msg","statusVal":"","statusType":"auto","x":820,"y":60,"wires":[]},{"id":"c7aaed3d.32726","type":"debug","z":"9cee819b.19182","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":280,"wires":[]},{"id":"5f1e36b2.b1d028","type":"json","z":"9cee819b.19182","name":"","property":"payload","action":"","pretty":false,"x":710,"y":360,"wires":[["c7aaed3d.32726","121de605.aab39a"]]},{"id":"b34e5858.4250c8","type":"debug","z":"9cee819b.19182","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":250,"y":300,"wires":[]},{"id":"6c3b9301.6adc2c","type":"comment","z":"9cee819b.19182","name":"","info":"if payload.File.coord_type = casea  -> POI have cordinates for each single row\n\nif payload.File.coord_type = caseb  -> POI have coordinates only for the center map","x":980,"y":420,"wires":[]},{"id":"717a6f5c.ae1ce","type":"switch","z":"9cee819b.19182","d":true,"name":"","property":"payload.File.coord_type","propertyType":"msg","rules":[{"t":"eq","v":"casea","vt":"str"},{"t":"eq","v":"caseb","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":170,"y":540,"wires":[["b0dcc75b.898ea8"],["118740b1.8f0b7f"]]},{"id":"b0dcc75b.898ea8","type":"function","z":"9cee819b.19182","name":"casea - with GSP coord.","func":"msg.payload =  msg.payload\nflow.set(\"triples\",\"\");  // this is now available to other node\n\n//var count_POI = flow.get(\"count\")\nfunction toN3(suri,property,value,lang) {\n    if(value) {\n\n        if(lang)\n            return \"<\"+suri+\"> <\"+property+\"> \\\"\"+value+\"\\\"@\"+lang+\" .\\n\";\n        else\n            return \"<\"+suri+\"> <\"+property+\"> \\\"\"+value+\"\\\" .\\n\";\n    }\n    return \"\";\n}\nfunction toN3_property(suri,property1,property2) {\n    return \"<\"+suri+\"> <\"+property1+\"> <\"+property2+\"> .\\n\";\n}\n\nvar km4c=\"http://www.disit.org/km4city/schema#\";\nvar schema=\"http://schema.org/\";\nvar dcterms=\"http://purl.org/dc/terms/\"\nvar skos=\"http://www.w3.org/2004/02/skos/core#\"\nvar geo=\"http://www.w3.org/2003/01/geo/wgs84_pos#\"\nvar xsd=\"http://www.w3.org/2001/XMLSchema#\"\nvar ssn = \"http://www.w3.org/ns/ssn/\"\nvar poiTable = 'http://www.disit.org/km4city/resource/poi/PoiTable'\nvar note = \"http://www.w3.org/2004/02/skos/core#note\"\nvar other = \"http://www.disit.org/km4city/schema#\"\n\n/*\nvar triples \nvar errors=\"\"\nif(!errors){\n    triples = flow.get(\"triples\")+\"\\n\"+n3;\n    flow.set(\"triples\", triples);\n    msg.triples = flow.get(\"triples\")\n}\nelse\n    msg.payload = \"errore\"\n\nmsg.errors = errors\n*/\nvar count_POI=\"\"\nvar n3=\"\"\nvar suri =\"\"\nvar subCategory =\"\"\nvar identifier =\"\"\nvar lat = \"\"\nvar long = \"\"\nvar shortDesc =\"\"\nvar longDesc =\"\"\nvar abbreviation =\"\"\nvar phone = \"\"\nvar secondPhone=\"\"\nvar fax=\"\"\nvar secondFax=\"\"\nvar url =\"\"\nvar email =\"\"\nvar secondEmail =\"\"\nvar refPerson=\"\"\nvar streetAddress = \"\"\nvar civicNumber=\"\"\nvar postalcode=\"\"\nvar city=\"\"\nvar province =\"\"\nvar secondStreetAddress=\"\"\nvar secondCivicNumber=\"\"\nvar timetable=\"\"\nvar photo=\"\"\nvar triples =\"\"\nvar language = \"\"\n\n//TODO\n\nvar notes = \"\"\nvar other1 = \"\"\nvar other2 = \"\"\nvar other3 = \"\"\n\n\nvar modelName = \"\"\n\n\n//-------------------------------------------------\nvar v = msg.payload.Instances\n\nvar model = msg.payload.Model\nlanguage = model.language\n\nif (language===\"\")\n    language ='en'\n    \nfor (i=0; i<v.length; i++){\n    count_POI = flow.get(\"count\")\n    n3=\"\"\n    //---------serviceuri----------------------\n    suri = v[i].Values.suri;\n    \n    //----------------Model--------------------\n    subCategory = model.sub_nature;\n    n3 +=\"<\"+suri+\"> a <\"+km4c+subCategory+\"> .\\n\"\n    \n    modelName = model.name\n    n3 +=toN3(suri,  km4c+\"model\", modelName, \"\")\n//<http://www.disit.org/km4city/resource/poi/WestGreece/Peripheral_Unit_of_Ilia_Olympia_xlsx_ARTI_GRAND> <http://www.disit.org/km4city/schema#model> \"NOME_Mdello\" .\n    n3 += toN3_property(suri, ssn+\"implements\",poiTable) \n//<http://www.disit.org/km4city/resource/poi/WestGreece/Peripheral_Unit_of_Ilia_Olympia_xlsx_ARTI_GRAND> <http://www.w3.org/ns/ssn/implements> <http://www.disit.org/km4city/resource/iot/PoiTable> \n\n    \n    //-----------------Instances--------------------\n    \n    identifier = v[i].Values.name.replace(' ', '_')\n    n3 += toN3(suri, dcterms+\"identifier\", identifier, \"\");\n    n3 += toN3(suri, schema+\"name\", v[i].Values.name, language);\n    lat = v[i].Values.latitude\n    if(lat !==\"\")\n        n3 += \"<\"+suri+\"> <\"+geo+\"lat> \\\"\"+lat+\"\\\"^^<http://www.w3.org/2001/XMLSchema#float> .\\n\";\n    long = v[i].Values.longitude\n    if(long !==\"\")\n        n3 += \"<\"+suri+\"> <\"+geo+\"long> \\\"\"+long+\"\\\"^^<http://www.w3.org/2001/XMLSchema#float> .\\n\";\n        \n    shortDesc = v[i].Values.descriptionShort\n    if(shortDesc !==\"\")\n        n3 += toN3(suri, km4c+\"shortDescription\", shortDesc, language);\n    longDesc =  v[i].Values.descriptionLong\n    if (longDesc!==\"\")\n        n3 += toN3(suri, dcterms+\"description\", longDesc, language);\n    abbreviation = v[i].Values.abbreviation\n    if (abbreviation!==\"\")\n        n3 += toN3(suri, km4c+\"shortName\", abbreviation, language);\n    phone = v[i].Values.phone\n    if (phone!==\"\")\n        n3 += toN3(suri, schema+\"telephone\",phone , \"\");\n    \n    secondPhone = v[i].Values.secondPhone\n    if (secondPhone!==\"\")   \n        n3 += toN3(suri, schema+\"otherTelephone\",secondPhone , \"\");\n    fax = v[i].Values.fax\n    if(fax !==\"\")\n        n3 += toN3(suri, km4c+\"faxNumber\", fax, \"\");\n    secondFax = v[i].Values.secondFax\n    if(secondFax!==\"\")\n        n3 += toN3(suri, km4c+\"otherFaxNumber\", secondFax, \"\");\n\n    url = v[i].Values.url\n    if(url!==\"\")\n        n3 += toN3(suri, schema+\"url\", url, \"\");\n    email = v[i].Values.email\n    if(email!==\"\")\n        n3 += toN3(suri, schema+\"email\", email, \"\");\n    secondEmail = v[i].Values.secondEmail\n    if(secondEmail!==\"\")\n        n3 += toN3(suri, km4c+\"otherEmail\", secondEmail, \"\");\n    refPerson=v[i].Values.refPerson\n    if(refPerson!==\"\")\n        n3 += toN3(suri, km4c+\"referencePerson\", refPerson, \"\");\n        \n    streetAddress = v[i].Values.streetAddress    \n    if(streetAddress!==\"\")\n        n3 += toN3(suri, schema+\"streetAddress\", streetAddress, \"\");\n    \n    civicNumber = v[i].Values.civicNumber\n    if(civicNumber!==\"\")\n        n3 += toN3(suri, km4c+\"houseNumber\", civicNumber, \"\");\n    postalcode = v[i].Values.postalcode\n    if(postalcode!==\"\")\n        n3 += toN3(suri, schema+\"postalCode\", postalcode, \"\");\n    city=v[i].Values.city\n    if(city!==\"\")\n        n3 += toN3(suri, schema+\"addressLocality\", city, \"\");\n    province = v[i].Values.province\n    if(province!==\"\")\n        n3 += toN3(suri, schema+\"addressRegion\", province, \"\");\n    secondStreetAddress = v[i].Values.secondStreetAddress\n    if(secondStreetAddress!==\"\")\n        n3 += toN3(suri, km4c+\"otherStreetAddress\", secondStreetAddress, \"\");\n    secondCivicNumber = v[i].Values.secondCivicNumber\n    if(secondCivicNumber!==\"\")\n        n3 += toN3(suri, km4c+\"otherHouseNumber\", secondCivicNumber, \"\");\n    timetable = v[i].Values.timetable\n    if(timetable)\n        n3 += toN3(suri, schema+\"openingHours\", timetable, \"\");\n    photo = v[i].Values.photo\n    if(photo!==\"\")\n        n3 += toN3(suri, km4c+\"multimediaResource\", photo, \"\");\n    if(notes!==\"\")\n        n3 += toN3(suri, note, notes, \"\");\n    if(other1!==\"\")\n        n3 += toN3(suri, other+'other1', other1, \"\");\n    if(other2!==\"\")\n        n3 += toN3(suri, other+'other2', other2, \"\");\n    if(other3!==\"\")\n        n3 += toN3(suri, other+'other3', other3, \"\");\n        \n    n3 += \"\\n\";\n\n\n    flow.set(\"count\", count_POI-1)\n    msg.payload.restano = flow.get(\"count\")\n    msg.payload.triples = n3//'triple_'+count_POI\n    \n    triples = flow.get(\"triples\");\n    flow.set(\"triples\",triples+n3);  // this is now available to other node\n    \n    \n    \n    if (flow.get(\"count\")===0){\n        msg.complete=true;\n    }\n        \n    if(lat !==\"\" && long !==\"\"){        \n    node.send(msg);\n    }\n//output.push(device_output);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":500,"wires":[["f5eb9299.3fa2f","e6fa14ae.230618"]]},{"id":"118740b1.8f0b7f","type":"function","z":"9cee819b.19182","name":"caseB - without GSP coord. - composing Query for retrieving lat and long","func":"var data = msg.payload \n\nvar addres = \"\"\nvar civic = \"\"\n\n\n//sample\n//http://greece.snap4city.org/ServiceMap/api/v1/location/?search=+31&maxResults=20&excludePOI=true&searchMode=AND&categories=StreetNumber&position=38.2142;21.8176&sortByDistance=true&maxDists=10&format=html\n//superservicemap\n//https://www.disit.org/superservicemap/api/v1/location/?search=+31&maxResults=20&excludePOI=true&searchMode=AND&categories=StreetNumber&position=38.2142;21.8176&sortByDistance=true&maxDists=10\n\n//https://www.disit.org/superservicemap/api/v1/location/?search=+31\n//&maxResults=1&excludePOI=true&searchMode=AND&categories=StreetNumber\n//&position=38.2142;21.8176\n//&sortByDistance=true\n//&maxDists=10\nvar home ='$#base-url#$/superservicemap/api/v1/location/?search='\n\n//dove position  il centro di ricerca, in questo CASO BOLOGNA\n\n\n//var params = \"&maxResults=1&excludePOI=true&searchMode=AND&categories=StreetNumber&position=\"+position_bologna+\"&sortByDistance=true&maxDists=\"+max_dist\nvar params = \"&maxResults=1&excludePOI=true&searchMode=AND&categories=StreetNumber&position=\"+center_map+\"&sortByDistance=true&maxDists=\"//+max_dist\nvar url = \"\"\n\nvar city_def=' '\nvar center_map = \"38.2142;21.8176\"//prendere da API\nvar max_dist = 50//prendere da API\nflow.set(\"count\", data.length)\n\nfor(var i = 0; i< data.length;i++){\n    address = encodeURI(data[i].streetAddress)\n    civic = data[i].civicNumber\n    msg.payload_original = data[i]\n    msg.url = home+address+civic+params+max_dist\n    msg.count = flow.get(\"count\").toString()\n    node.send(msg);\n}\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":620,"wires":[["994994fa.b12018"]]},{"id":"f5eb9299.3fa2f","type":"debug","z":"9cee819b.19182","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":480,"wires":[]},{"id":"994994fa.b12018","type":"debug","z":"9cee819b.19182","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":560,"wires":[]},{"id":"60fc3419.5b0bdc","type":"function","z":"9cee819b.19182","name":"","func":"\nflow.set(\"count\", msg.payload.Instances.length)\ncount = flow.get(\"count\")\n\nmsg.payload.count = count\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1120,"y":360,"wires":[["c6fc227e.cd009","ae1e45cb.0b7588"]]},{"id":"c6fc227e.cd009","type":"debug","z":"9cee819b.19182","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1250,"y":280,"wires":[]},{"id":"f5642ea6.d373b","type":"e-mail","z":"9cee819b.19182","server":"smtp.gmail.com","port":"465","secure":true,"tls":false,"name":"pierfrancesco.bellini@unifi.it, ala.arman@unifi.it","dname":"send email ","x":1290,"y":540,"wires":[]},{"id":"bb814f10.77332","type":"function","z":"9cee819b.19182","name":"Email adapting","func":"filename = msg.payload.Model.name+\".n3\"\nmsg.topic = \"km4city POI upload \"+filename\nif(!msg.errors) {\n    temp = flow.get(\"triples\").replace(\"\\\"\\\"\", \"\\\"\")\n    msg.payload = Buffer.from(temp); \n    msg.filename = filename;\n    msg.description = msg.errors\n    \n} else {\n    msg.payload = \"Errors:\\n\"+msg.errors\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":540,"wires":[["c84d6815.347768","f5642ea6.d373b","fbc588fe.761ca8"]]},{"id":"79b2246f.3512dc","type":"comment","z":"9cee819b.19182","name":"togliere le \"\" dal file finale","info":"","x":750,"y":1380,"wires":[]},{"id":"c84d6815.347768","type":"debug","z":"9cee819b.19182","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":460,"wires":[]},{"id":"e6fa14ae.230618","type":"join","z":"9cee819b.19182","name":"","mode":"custom","build":"string","property":"payload.triples","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":790,"y":540,"wires":[["adb8bd06.71f4f","bb814f10.77332"]]},{"id":"adb8bd06.71f4f","type":"debug","z":"9cee819b.19182","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":480,"wires":[]},{"id":"ae1e45cb.0b7588","type":"switch","z":"9cee819b.19182","name":"","property":"payload.File.status","propertyType":"msg","rules":[{"t":"eq","v":"YES","vt":"str"},{"t":"eq","v":"NO","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":130,"y":420,"wires":[["c5f5e57c.f60808"],["717a6f5c.ae1ce","b0dcc75b.898ea8"]]},{"id":"d5b663ac.4b7ed","type":"debug","z":"9cee819b.19182","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"message","targetType":"msg","statusVal":"","statusType":"auto","x":520,"y":420,"wires":[]},{"id":"c5f5e57c.f60808","type":"function","z":"9cee819b.19182","name":"","func":"var created = msg.payload.Model.name\n\nvar message = \"The dataset with ElementId: \"+created+\" has already been managed!\"\nmsg.message=message\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":420,"wires":[["d5b663ac.4b7ed"]]},{"id":"121de605.aab39a","type":"delay","z":"9cee819b.19182","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":900,"y":360,"wires":[["60fc3419.5b0bdc"]]},{"id":"fa94205a.fdfd8","type":"inject","z":"9cee819b.19182","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":1420,"wires":[["4fc9bb93.9ec0e4"]]},{"id":"73591f38.2e01","type":"function","z":"9cee819b.19182","name":"composeElementIdListUrl","func":"global.set(\"access_token\",msg.payload.access_token);  // this is now available to other nodes\n\nvar elid = 'GreeceHotels_Patras_EN.xlsx|1623229866'\n\nmsg.url='$#base-url#$/processloader/poimanager_updateProcessStatus.php?elementId='+elid+'&status=NO'//&access_token='+msg.payload.access_token;\n\n\n\n//$#base-url#$/processloader/poimanager_getDataTable.php?elementId=\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":1220,"wires":[["b78c587c.cabb78"]]},{"id":"b78c587c.cabb78","type":"debug","z":"9cee819b.19182","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":1200,"wires":[]},{"id":"337163f0.151c5c","type":"debug","z":"9cee819b.19182","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":610,"y":60,"wires":[]},{"id":"fbc588fe.761ca8","type":"function","z":"9cee819b.19182","name":"msgComplete","func":"msg.complete=true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":840,"wires":[["b20254f5.bbb4a8"]]},{"id":"b20254f5.bbb4a8","type":"join","z":"9cee819b.19182","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":280,"y":920,"wires":[["a729e9de.34f848"]]},{"id":"a729e9de.34f848","type":"function","z":"9cee819b.19182","name":"accumulate, then complete","func":"var created = 1 + (flow.get('created_instances')||0);\nflow.set(\"created_instances\",created);\n\n\nif(msg.payload.Instances) {\nvar total_instances=0;    \n    for(var instance_index=0;instance_index<msg.payload.Instances.length;instance_index++){\n        var instance=msg.payload.Instances[instance_index];\n        var instance_count=instance.Values.length;\n        total_instances+=instance_count;\n    }\n    flow.set(\"total_instances\",total_instances);\n}\nvar total = flow.get('total_instances')||0;\n\nif( created == total ) \n    return { \"complete\": true }\n    ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":920,"wires":[["79bf7889.bc9678"]]},{"id":"9a0da51e.b21768","type":"comment","z":"9cee819b.19182","name":"when uploaded modify the status","info":"","x":350,"y":980,"wires":[]},{"id":"79bf7889.bc9678","type":"join","z":"9cee819b.19182","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":750,"y":920,"wires":[["7100ef25.f385f"]]},{"id":"7100ef25.f385f","type":"function","z":"9cee819b.19182","name":"composeElementIdUpdateStatusUrl","func":"var element_id = global.get(\"element_id\");  // this should now be \"bar\"\n\n//THE FOLLOWING QUERY to change the status to 'NOT PROCESSED'\n//msg.url=\"$#base-url#$/processloader/datatablemanager_updateProcessStatus.php?element_id=\"+msg.payload+\"&status=NO\";\n\n//THE FOLLOWING QUERY to change the status to 'PROCESSED'\nmsg.url=\"$#base-url#$/processloader/poimanager_updateProcessStatus.php?element_id=\"+element_id+\"&status=YES\";\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":920,"wires":[["33f21c77.672d14"]]},{"id":"33f21c77.672d14","type":"http request","z":"9cee819b.19182","name":"updateElementIdStatus","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1380,"y":920,"wires":[["2ddc54df.2f319c"]]},{"id":"2ddc54df.2f319c","type":"debug","z":"9cee819b.19182","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1390,"y":840,"wires":[]},{"id":"ab62e96a.edfac8","type":"subflow:53bf3758.e51e28","z":"9cee819b.19182","name":"","x":300,"y":140,"wires":[["49afbfde.2ce6f","337163f0.151c5c"]]},{"id":"4fc9bb93.9ec0e4","type":"subflow:53bf3758.e51e28","z":"9cee819b.19182","name":"","x":310,"y":1240,"wires":[["73591f38.2e01"]]}]
