Flask/Modules/iotapp+/flows-old.json
[{"id":"7105bd70.74fd24","type":"tab","label":"Flow 1"},{"id":"aa51b0bc.676ac","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"e6119004.fe69b","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3dbf9cda.ef08f4","type":"orion-service","z":"","name":"","url":"orionbrokerfilter","port":"8443"},{"id":"4910f82d.48e238","type":"snap4city-authentication","z":"","name":""},{"id":"160e4f4.6bcffb1","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"f3bc35ce.b8f008","type":"ui_group","z":"","name":"Default","tab":"160e4f4.6bcffb1","order":1,"disp":true,"width":"12","collapse":false},{"id":"34326c07.af1d24","type":"ui_spacer","name":"spacer","group":"f3bc35ce.b8f008","order":1,"width":1,"height":1},{"id":"650adfe9.681a5","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"31bbd16f.53f03e","type":"inject","z":"7105bd70.74fd24","name":"","repeat":"60","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":238,"y":173,"wires":[["344c44ed.6e160c","cca80b32.b533d8","c320e8c2.856f58","ec62fe3.60705"]]},{"id":"344c44ed.6e160c","type":"function","z":"7105bd70.74fd24","name":"","func":"msg.payload=[\n                {\n                    \"name\": \"wind\",\n                    \"type\": \"float\",\n                    \"value\": Math.random()*100\n                }\n            ];\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":180,"wires":[["7ac44d16.e2e914","c6405a1c.bb5bc8"]]},{"id":"1ffbe16.1454b1f","type":"debug","z":"7105bd70.74fd24","name":"","active":true,"console":"false","complete":"false","x":950,"y":380,"wires":[]},{"id":"7ac44d16.e2e914","type":"fiware-orion-out","z":"7105bd70.74fd24","name":"wind1","authentication":"","tls":"","service":"3dbf9cda.ef08f4","entype":"WindSensor","enid":"wind1","userk1":"...write your k1...","passk2":"...write your k2...","apikey":"","basicAuth":"","x":650,"y":120,"wires":[]},{"id":"c6405a1c.bb5bc8","type":"fiware-orion-out","z":"7105bd70.74fd24","name":"wind2","authentication":"","tls":"","service":"3dbf9cda.ef08f4","entype":"WindSensor","enid":"wind2","userk1":"...write your k1...","passk2":"...write your k2...","apikey":"","basicAuth":"","x":650,"y":200,"wires":[]},{"id":"f76565f0.86fca8","type":"save-my-kpidata-values","z":"7105bd70.74fd24","name":"Save on redCount","kpiId":"17056249-redCount-integer","selectedKPIDataId":"17056249-redCount-integer","authentication":"","x":670,"y":360,"wires":[["1ffbe16.1454b1f"]]},{"id":"cca80b32.b533d8","type":"function","z":"7105bd70.74fd24","name":"","func":"msg.payload={\"value\": Math.random()*100}\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":280,"wires":[["f76565f0.86fca8"]]},{"id":"d351b440.b60808","type":"single-content","z":"7105bd70.74fd24","flowName":"Flow 1","authentication":"","username":"usermanager","name":"status","metricType":"Testuale","startValue":"","metricShortDesc":"","metricFullDesc":"","x":670,"y":500,"wires":[]},{"id":"c320e8c2.856f58","type":"function","z":"7105bd70.74fd24","name":"","func":"msg.payload=Math.random()*100\nreturn msg;","outputs":1,"noerr":0,"x":447,"y":426,"wires":[["d351b440.b60808","1ffbe16.1454b1f"]]},{"id":"ec62fe3.60705","type":"function","z":"7105bd70.74fd24","name":"","func":"return msg;","outputs":1,"noerr":0,"x":426,"y":63,"wires":[[]]},{"id":"d448fac2.6a54f8","type":"inject","z":"aa51b0bc.676ac","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"20","topic":"","payload":"","payloadType":"date","x":140,"y":80,"wires":[["25e6ae49.aa3442"]]},{"id":"25e6ae49.aa3442","type":"template","z":"aa51b0bc.676ac","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Snap4City,\"1.82;37;1.43\",http://$#base-hostname#$/dashboardSmartCity/,200,5000,on\nServiceMap,\"206\",http://$#base-hostname#$/ServiceMap/,200,5000,on\nWSserver,\"206\",http://$#base-hostname#$/wsserver/,400,5000,on\nSuperServiceMap,\"206\",http://$#base-hostname#$/superservicemap/api/v1/?serviceUri=xxx,400,5000,on\nauth,\"206\",http://$#base-hostname#$/auth/,200,18000,on\ndatamanager,\"206\",http://$#base-hostname#$/datamanager/,200,18000,on\nkibana,\"206\",http://$#base-hostname#$/kibana/,200,18000,on\nsynoptics,\"206\",http://$#base-hostname#$/synoptics/,200,18000,on\niotapp1,\"206\",http://$#base-hostname#$/iotapp/iotapp-001/,200,18000,on\niotapp2,\"206\",http://$#base-hostname#$/iotapp/iotapp-002/,200,18000,on\niotapp3,\"206\",http://$#base-hostname#$/iotapp/iotapp-003/,200,18000,on\nIOT Directory,\"206\",http://$#base-hostname#$/iot-directory/,200,18000,on\nvirtuoso,\"xx\",http://virtuoso-kb:8890/,200,5000,on\nopensearch-n1,\"xx\",http://opensearch-n1:9200/,200,5000,on\norionbrokerfilter-001,\"xx\",https://orionbrokerfilter-001:8443/,200,5000,on\norion-001,\"xx\",http://orion-001:1026/,400,5000,on\nMyLDAP,\"xx\",https://myldap:443/,200,5000,on\nmongo-001,\"xx\",http://mongo-001:27017/,200,5000,on","output":"str","x":310,"y":80,"wires":[["6f842f3c.e482a"]]},{"id":"6f842f3c.e482a","type":"csv","z":"aa51b0bc.676ac","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":450,"y":80,"wires":[["68ac3ee6.2e1f7","662c9e83.d5cf4"]]},{"id":"5bfab823.d43e38","type":"http request","z":"aa51b0bc.676ac","name":"testing url","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"650adfe9.681a5","persist":false,"proxy":"","authType":"","x":380,"y":160,"wires":[["a57b8f62.d5706","7d81973b.3da998"]]},{"id":"7c4bc890.ee3f78","type":"delay","z":"aa51b0bc.676ac","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":200,"y":160,"wires":[["5bfab823.d43e38"]]},{"id":"662c9e83.d5cf4","type":"function","z":"aa51b0bc.676ac","name":"ask","func":"// msg.other = msg.payload;\nif (msg.payload.col6===\"on\") {\nmsg = { \"url\" : msg.payload.col3,\n       \"other\" : msg.payload,\n       \"requestTimeout\" : msg.payload.col5,\n       \"rispostaattesa\" : msg.payload.col4\n    };\n}\nelse msg=null;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":80,"wires":[["7c4bc890.ee3f78"]]},{"id":"68ac3ee6.2e1f7","type":"debug","z":"aa51b0bc.676ac","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":40,"wires":[]},{"id":"a57b8f62.d5706","type":"debug","z":"aa51b0bc.676ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":550,"y":160,"wires":[]},{"id":"7d81973b.3da998","type":"function","z":"aa51b0bc.676ac","name":"ask","func":"var str = msg.responseUrl\nmsg.payload = msg.statusCode.toString()+\" at: \"+msg.headers.date+\" Should be: \"+msg.rispostaattesa.toString();\nnode.warn(str);\nnode.warn(msg.payload);\n\nif (str.includes(\"dashboardSmartCity\"))\n{\n   return [msg,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null] \n}\nelse if (str.includes(\"ServiceMap\"))\n{\n   return [null,msg,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null] \n}\nelse if (str.includes(\"wsserver\"))\n{\n   return [null,null,msg,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null] \n}\nelse if (str.includes(\"superservicemap\"))\n{\n   return [null,null,null,msg,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null] \n}\nelse if (str.includes(\"auth\"))\n{\n   return [null,null,null,null,msg,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null] \n}\nelse if (str.includes(\"datamanager\"))\n{\n   return [null,null,null,null,null,msg,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null] \n}\nelse if (str.includes(\"kibana\"))\n{\n   return [null,null,null,null,null,null,msg,null,null,null,null,null,null,null,null,null,null,null,null,null,null] \n}\nelse if (str.includes(\"synoptic\"))\n{\n   return [null,null,null,null,null,null,null,msg,null,null,null,null,null,null,null,null,null,null,null,null,null] \n}\n if (str.includes(\"iotapp-001\"))\n{\n   return [null,null,null,null,null,null,null,null,msg,null,null,null,null,null,null,null,null,null,null,null,null] \n}\n if (str.includes(\"iotapp-002\"))\n{\n   return [null,null,null,null,null,null,null,null,null,msg,null,null,null,null,null,null,null,null,null,null,null] \n}\n if (str.includes(\"iotapp-003\"))\n{\n   return [null,null,null,null,null,null,null,null,null,null,msg,null,null,null,null,null,null,null,null,null,null] \n}\n if (str.includes(\"iot-directory\"))\n{\n   return [null,null,null,null,null,null,null,null,null,null,null,msg,null,null,null,null,null,null,null,null,null]\n}\n if (str.includes(\"virtuoso\"))\n{\n   return [null,null,null,null,null,null,null,null,null,null,null,null,msg,null,null,null,null,null,null,null,null]\n}\nif (str.includes(\"opensearch-n1\"))\n{\n   return [null,null,null,null,null,null,null,null,null,null,null,null,null,msg,null,null,null,null,null,null,null]\n}\nif (str.includes(\"orion-001\"))\n{\n   return [null,null,null,null,null,null,null,null,null,null,null,null,null,null,msg,null,null,null,null,null,null]\n}\nif (str.includes(\"orionbrokerfilter\"))\n{\n   return [null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,msg,null,null,null,null,null]\n}\nif (str.includes(\"myldap\"))\n{\n   return [null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,msg,null,null,null]\n}\nif (str.includes(\"mongo\"))\n{\n   return [null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,msg,null]\n}\n\nreturn [null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null];","outputs":21,"noerr":0,"initialize":"","finalize":"","x":290,"y":400,"wires":[["ef96609c.32f67"],["4417b2c0.9d4c0c"],["e7632aae.23f948"],["6501178d.86bb18"],["bea0ac79.c7003"],["6a5a0f64.8d58c"],["a1609eeb.934e8"],["f8eaa667.a7ba08"],["16cbd89f.6ccdf7"],["9a6aab8d.51a9d8"],["ed9f3a7a.57be48"],["6896243f.5e85ec"],["3c583378.0fb2dc"],["a6376157.40ceb"],["90184e44.dcdc8"],["25d8f948.d6f0f6"],[],["88e7a993.43eb38"],[],["1ec449e3.81ab26"],[]]},{"id":"dacc69a8.ff7f88","type":"inject","z":"aa51b0bc.676ac","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"20","topic":"","payload":"","payloadType":"date","x":160,"y":1540,"wires":[["c152ba96.b26578"]]},{"id":"c152ba96.b26578","type":"function","z":"aa51b0bc.676ac","name":"","func":"msg.payload= \"te1st\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":1540,"wires":[[]]},{"id":"ef96609c.32f67","type":"ui_text","z":"aa51b0bc.676ac","group":"f3bc35ce.b8f008","order":0,"width":0,"height":0,"name":"","label":"dashboard front end","format":"{{msg.payload}}","layout":"row-spread","x":780,"y":200,"wires":[]},{"id":"4417b2c0.9d4c0c","type":"ui_text","z":"aa51b0bc.676ac","group":"f3bc35ce.b8f008","order":1,"width":0,"height":0,"name":"","label":"ServiceMap","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":260,"wires":[]},{"id":"e7632aae.23f948","type":"ui_text","z":"aa51b0bc.676ac","group":"f3bc35ce.b8f008","order":2,"width":0,"height":0,"name":"","label":"WSserver","format":"{{msg.payload}}","layout":"row-spread","x":740,"y":300,"wires":[]},{"id":"6501178d.86bb18","type":"ui_text","z":"aa51b0bc.676ac","group":"f3bc35ce.b8f008","order":3,"width":0,"height":0,"name":"","label":"Super Servicemap","format":"{{msg.payload}}","layout":"row-spread","x":770,"y":340,"wires":[]},{"id":"bea0ac79.c7003","type":"ui_text","z":"aa51b0bc.676ac","group":"f3bc35ce.b8f008","order":4,"width":0,"height":0,"name":"","label":"Auth","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":380,"wires":[]},{"id":"6a5a0f64.8d58c","type":"ui_text","z":"aa51b0bc.676ac","group":"f3bc35ce.b8f008","order":5,"width":0,"height":0,"name":"","label":"Datamanager Pers.Data.","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":420,"wires":[]},{"id":"a1609eeb.934e8","type":"ui_text","z":"aa51b0bc.676ac","group":"f3bc35ce.b8f008","order":6,"width":0,"height":0,"name":"","label":"Kibana","format":"{{msg.payload}}","layout":"row-spread","x":740,"y":460,"wires":[]},{"id":"f8eaa667.a7ba08","type":"ui_text","z":"aa51b0bc.676ac","group":"f3bc35ce.b8f008","order":7,"width":0,"height":0,"name":"","label":"Synoptic","format":"{{msg.payload}}","layout":"row-spread","x":740,"y":500,"wires":[]},{"id":"16cbd89f.6ccdf7","type":"ui_text","z":"aa51b0bc.676ac","group":"f3bc35ce.b8f008","order":8,"width":0,"height":0,"name":"","label":"IOT App 01","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":560,"wires":[]},{"id":"9a6aab8d.51a9d8","type":"ui_text","z":"aa51b0bc.676ac","group":"f3bc35ce.b8f008","order":9,"width":0,"height":0,"name":"","label":"IOT App 02","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":600,"wires":[]},{"id":"ed9f3a7a.57be48","type":"ui_text","z":"aa51b0bc.676ac","group":"f3bc35ce.b8f008","order":10,"width":0,"height":0,"name":"","label":"IOT App 03","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":640,"wires":[]},{"id":"6896243f.5e85ec","type":"ui_text","z":"aa51b0bc.676ac","group":"f3bc35ce.b8f008","order":11,"width":0,"height":0,"name":"","label":"IOT Directory","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":680,"wires":[]},{"id":"3c583378.0fb2dc","type":"ui_text","z":"aa51b0bc.676ac","group":"f3bc35ce.b8f008","order":11,"width":0,"height":0,"name":"","label":"Virtuoso","format":"{{msg.payload}}","layout":"row-spread","x":740,"y":720,"wires":[]},{"id":"a6376157.40ceb","type":"ui_text","z":"aa51b0bc.676ac","group":"f3bc35ce.b8f008","order":11,"width":0,"height":0,"name":"","label":"Opensearch-n1","format":"{{msg.payload}}","layout":"row-spread","x":760,"y":760,"wires":[]},{"id":"90184e44.dcdc8","type":"ui_text","z":"aa51b0bc.676ac","group":"f3bc35ce.b8f008","order":11,"width":0,"height":0,"name":"","label":"OrionBroker","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":800,"wires":[]},{"id":"25d8f948.d6f0f6","type":"ui_text","z":"aa51b0bc.676ac","group":"f3bc35ce.b8f008","order":11,"width":0,"height":0,"name":"","label":"OrionFilter","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":840,"wires":[]},{"id":"88e7a993.43eb38","type":"ui_text","z":"aa51b0bc.676ac","group":"f3bc35ce.b8f008","order":11,"width":0,"height":0,"name":"","label":"MyLDAP","format":"{{msg.payload}}","layout":"row-spread","x":740,"y":880,"wires":[]},{"id":"1ec449e3.81ab26","type":"ui_text","z":"aa51b0bc.676ac","group":"f3bc35ce.b8f008","order":11,"width":0,"height":0,"name":"","label":"Mongo","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":920,"wires":[]},{"id":"3d180073.f10f3","type":"tcp request","z":"aa51b0bc.676ac","server":"ldap-server","port":"389","out":"char","splitc":"\\n","name":"","x":270,"y":1660,"wires":[["c6d3177.f6c15e8"]]},{"id":"c6d3177.f6c15e8","type":"debug","z":"aa51b0bc.676ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":350,"y":1720,"wires":[]},{"id":"36063493.66236c","type":"inject","z":"aa51b0bc.676ac","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"20","topic":"fskfdgSK","payload":"","payloadType":"date","x":210,"y":1600,"wires":[["3d180073.f10f3"]]},{"id":"faa9398e.db1b88","type":"inject","z":"aa51b0bc.676ac","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"20","topic":"","payload":"","payloadType":"date","x":140,"y":1020,"wires":[["82b5d8b9.b235c8"]]},{"id":"82b5d8b9.b235c8","type":"template","z":"aa51b0bc.676ac","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"LDAP,\"xx\",http://ldap-server:389/,ESOCKETTIMEDOUT,10000,on\nkafka,\"xx\",http://kafka:9092/,ECONNRESET,5000,on\nzookeeper,\"xx\",http://zookeeper:2181/,ECONNRESET,5000,on","output":"str","x":310,"y":1020,"wires":[["81fd37f4.41d898"]]},{"id":"81fd37f4.41d898","type":"csv","z":"aa51b0bc.676ac","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":450,"y":1020,"wires":[["76fae2fe.9ff25c","c8ff5ca2.e4722"]]},{"id":"58a764b8.866d8c","type":"http request","z":"aa51b0bc.676ac","name":"testing url","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"650adfe9.681a5","persist":false,"proxy":"","authType":"","x":380,"y":1100,"wires":[["7d682387.5e1d5c","53ba559.6ab34ac"]]},{"id":"c10ecc30.e8d8c","type":"delay","z":"aa51b0bc.676ac","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":200,"y":1100,"wires":[["58a764b8.866d8c"]]},{"id":"c8ff5ca2.e4722","type":"function","z":"aa51b0bc.676ac","name":"ask","func":"// msg.other = msg.payload;\nif (msg.payload.col6===\"on\") {\nmsg = { \"url\" : msg.payload.col3,\n       \"other\" : msg.payload,\n       \"requestTimeout\" : msg.payload.col5,\n       \"rispostaattesa\" : msg.payload.col4\n    };\n}\nelse msg=null;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":1020,"wires":[["c10ecc30.e8d8c"]]},{"id":"76fae2fe.9ff25c","type":"debug","z":"aa51b0bc.676ac","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":980,"wires":[]},{"id":"7d682387.5e1d5c","type":"debug","z":"aa51b0bc.676ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":550,"y":1100,"wires":[]},{"id":"53ba559.6ab34ac","type":"function","z":"aa51b0bc.676ac","name":"ask","func":"var pastpay = msg.payload ;\n//node.warn(pastpay);\n\nif (pastpay.includes(\"ldap-server\"))\n{\n    msg.payload = pastpay;\n   return [null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,msg,null,null,null,null]\n}\nif (pastpay.includes(\"kafka\"))\n{\n    msg.payload = pastpay;\n   return [null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,msg,null,null]\n}\nif (pastpay.includes(\"zookeeper\"))\n{\n    msg.payload = pastpay;\n   return [null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,msg]\n}\n\nreturn [null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null];","outputs":21,"noerr":0,"initialize":"","finalize":"","x":370,"y":1320,"wires":[[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],["31407e38.8474f2"],[],["6891b199.f104c"],[],["86728cb1.ff63c"]]},{"id":"31407e38.8474f2","type":"ui_text","z":"aa51b0bc.676ac","group":"f3bc35ce.b8f008","order":11,"width":0,"height":0,"name":"","label":"LDAP","format":"{{msg.payload}}","layout":"row-spread","x":610,"y":1380,"wires":[]},{"id":"6891b199.f104c","type":"ui_text","z":"aa51b0bc.676ac","group":"f3bc35ce.b8f008","order":11,"width":0,"height":0,"name":"","label":"Kafka","format":"{{msg.payload}}","layout":"row-spread","x":610,"y":1420,"wires":[]},{"id":"86728cb1.ff63c","type":"ui_text","z":"aa51b0bc.676ac","group":"f3bc35ce.b8f008","order":11,"width":0,"height":0,"name":"","label":"ZooKeeper","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":1460,"wires":[]}]
