Flask/Modules/iotapp+s/flows.json
[{"id":"da5a9370.0b7cb","type":"tab","label":"Checker","disabled":false,"info":""},{"id":"53bf3758.e51e28","type":"subflow","name":"getAccessToken","info":"","in":[{"x":40,"y":80,"wires":[{"id":"fa2822f4.3f87"}]}],"out":[{"x":400,"y":140,"wires":[{"id":"bc4db2ee.bf22b","port":0}]}]},{"id":"10345332.a72d3d","type":"subflow","name":"getAccessToken (2)","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"a8b123fa.0676e"}]}],"out":[{"x":380,"y":140,"wires":[{"id":"745e1adc.5fb504","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"e6119004.fe69b","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3dbf9cda.ef08f4","type":"orion-service","z":"","name":"","url":"orionbrokerfilter","port":"8443"},{"id":"4910f82d.48e238","type":"snap4city-authentication","z":"","name":""},{"id":"160e4f4.6bcffb1","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"f3bc35ce.b8f008","type":"ui_group","z":"","name":"Default","tab":"160e4f4.6bcffb1","order":2,"disp":true,"width":20,"collapse":false},{"id":"650adfe9.681a5","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"a7f0e759.95e218","type":"orion-service-api-v2","z":"","contextbroker":"iotobsf","selectedContextbroker":"iotobsf","name":"iotobsf","url":"orionbrokerfilter","port":"8443"},{"id":"736da071.545fc","type":"orion-service-api-v2","z":"","contextbroker":"orionDubrovnik-UNIFI","selectedContextbroker":"orionDubrovnik-UNIFI","name":"orionDubrovnik-UNIFI","url":"192.168.1.47","port":"8446"},{"id":"6af9a139.5ed2e","type":"orion-service-api-v2","z":"","contextbroker":"iotobsf","selectedContextbroker":"iotobsf","name":"iotobsf","url":"orionbrokerfilter","port":"8443"},{"id":"1e5f4968.5b2987","type":"orion-service-api-v2","z":"","contextbroker":"orionDubrovnik-UNIFI","selectedContextbroker":"orionDubrovnik-UNIFI","name":"orionDubrovnik-UNIFI","url":"192.168.1.47","port":"8446"},{"id":"36582454.fdd10c","type":"ui_spacer","name":"spacer","group":"f3bc35ce.b8f008","order":1,"width":20,"height":1},{"id":"fa2822f4.3f87","type":"file in","z":"53bf3758.e51e28","name":"","filename":"/data/refresh_token","format":"utf8","chunk":false,"sendError":false,"x":190,"y":80,"wires":[["c803ab1d.042c88"]]},{"id":"bc4db2ee.bf22b","type":"http request","z":"53bf3758.e51e28","name":"","method":"POST","ret":"obj","url":"$#base-url#$/auth/realms/master/protocol/openid-connect/token/","tls":"","x":240,"y":140,"wires":[[]]},{"id":"c803ab1d.042c88","type":"function","z":"53bf3758.e51e28","name":"","func":"msg.payload=\"client_id=nodered&client_secret=cb7b3ab4-23d2-4912-a126-1ed811293cd5&grant_type=refresh_token&scope=openid profile&refresh_token=\" + msg.payload;\nmsg.headers={\"Content-Type\":\"application/x-www-form-urlencoded\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":80,"wires":[["bc4db2ee.bf22b"]]},{"id":"a8b123fa.0676e","type":"file in","z":"10345332.a72d3d","name":"","filename":"/data/refresh_token","format":"utf8","chunk":false,"sendError":false,"x":190,"y":80,"wires":[["5b1dbb3.b768144"]]},{"id":"745e1adc.5fb504","type":"http request","z":"10345332.a72d3d","name":"","method":"POST","ret":"obj","url":"$#base-url#$/auth/realms/master/protocol/openid-connect/token/","tls":"","x":240,"y":140,"wires":[[]]},{"id":"5b1dbb3.b768144","type":"function","z":"10345332.a72d3d","name":"","func":"msg.payload=\"client_id=nodered&client_secret=943106ae-c62c-4961-85a2-849f6955d404&grant_type=refresh_token&scope=openid profile&refresh_token=\" + msg.payload;\nmsg.headers={\"Content-Type\":\"application/x-www-form-urlencoded\"}\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":80,"wires":[["745e1adc.5fb504"]]},{"id":"298d30ad.6a4ee","type":"inject","z":"da5a9370.0b7cb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"20","topic":"","payload":"","payloadType":"date","x":140,"y":80,"wires":[["bf28ce8e.603fc"]]},{"id":"bf28ce8e.603fc","type":"template","z":"da5a9370.0b7cb","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Snap4City,\"1.82;37;1.43\",$#base-url#$/dashboardSmartCity/,200,5000,on\nServiceMap,\"206\",$#base-url#$/ServiceMap/,200,5000,on\nWSserver,\"206\",$#base-url#$/wsserver/,400,5000,on\nSuperServiceMap,\"206\",$#base-url#$/superservicemap/api/v1/?serviceUri=xxx,400,5000,on\nauth,\"206\",$#base-url#$/auth/,200,18000,on\ndatamanager,\"206\",$#base-url#$/datamanager/,200,18000,on\nopensearch-dashboards,\"206\",http://$#url-2#$:5601,302,18000,on\nsynoptics,\"206\",$#base-url#$/synoptics/,200,18000,on\niotapp1,\"206\",$#base-url#$/iotapp/iotapp-001/,200,18000,on\niotapp2,\"206\",http://$#ip-#$/iotapp/iotapp-002/,200,18000,on\niotapp3,\"206\",$#base-url#$/iotapp/iotapp-003/,200,18000,on\nIOT Directory,\"206\",$#base-url#$/iot-directory/,200,18000,on\nvirtuoso,\"xx\",http://virtuoso-kb:8890/,200,5000,on\nopensearch-n1,\"xx\",https://$#url-2#$:9200/,401,5000,on\norionbrokerfilter-001,\"xx\",https://$#url-3#$:8443/,200,5000,on\norion-001,\"xx\",http://$#url-3#$:1026/,400,5000,on\nMyLDAP,\"xx\",https://$#url-1#$:443/,200,5000,on\nmongo-001,\"xx\",http://$#url-3#$:27017/,200,5000,on","output":"str","x":310,"y":80,"wires":[["daa12d.fd4e3ed"]]},{"id":"daa12d.fd4e3ed","type":"csv","z":"da5a9370.0b7cb","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":450,"y":80,"wires":[["88ff1ae1.afd1f8","28eb8a3e.46a466"]]},{"id":"e6d4d2b2.66f1","type":"http request","z":"da5a9370.0b7cb","name":"testing url","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"650adfe9.681a5","persist":false,"proxy":"","authType":"","x":380,"y":160,"wires":[["4c6671d9.98fbe","713e876b.dddd88"]]},{"id":"d088846d.3c8108","type":"delay","z":"da5a9370.0b7cb","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"6","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":190,"y":160,"wires":[["e6d4d2b2.66f1"]]},{"id":"28eb8a3e.46a466","type":"function","z":"da5a9370.0b7cb","name":"ask","func":"// msg.other = msg.payload;\nif (msg.payload.col6===\"on\") {\nmsg = { \"url\" : msg.payload.col3,\n       \"other\" : msg.payload,\n       \"requestTimeout\" : msg.payload.col5,\n       \"rispostaattesa\" : msg.payload.col4\n    };\n}\nelse msg=null;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":80,"wires":[["d088846d.3c8108"]]},{"id":"88ff1ae1.afd1f8","type":"debug","z":"da5a9370.0b7cb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":40,"wires":[]},{"id":"4c6671d9.98fbe","type":"debug","z":"da5a9370.0b7cb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":550,"y":160,"wires":[]},{"id":"713e876b.dddd88","type":"function","z":"da5a9370.0b7cb","name":"ask","func":"var str = msg.responseUrl\n msg.payload = \"Code \" + msg.statusCode.toString()+\" at: \"+msg.headers.date+\". Should be: \"+msg.rispostaattesa.toString();\n\n\n\nif (str.includes(\"dashboardSmartCity\"))\n{\n    node.warn(1)\n   return [msg,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null] \n}\nelse if (str.includes(\"ServiceMap\"))\n{\n    node.warn(2)\n   return [null,msg,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null] \n}\nelse if (str.includes(\"wsserver\"))\n{\n    node.warn(3)\n   return [null,null,msg,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null] \n}\nelse if (str.includes(\"superservicemap\"))\n{\n    node.warn(4)\n   return [null,null,null,msg,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null] \n}\nelse if (str.includes(\"auth\"))\n{\n   if (str.includes(\"opensearch-dashboards\"))\n        {\n            node.warn(7)\n            return [null,null,null,null,null,null,msg,null,null,null,null,null,null,null,null,null,null,null,null,null,null] \n        }\n    node.warn(5)\n   return [null,null,null,null,msg,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null] \n}\nelse if (str.includes(\"datamanager\"))\n{\n    node.warn(6)\n   return [null,null,null,null,null,msg,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null] \n}\nelse if (str.includes(\"opensearch-dashboards\"))\n{\n    node.warn(7)\n   return [null,null,null,null,null,null,msg,null,null,null,null,null,null,null,null,null,null,null,null,null,null] \n}\nelse if (str.includes(\"synoptic\"))\n{\n    node.warn(8)\n   return [null,null,null,null,null,null,null,msg,null,null,null,null,null,null,null,null,null,null,null,null,null] \n}\n if (str.includes(\"iotapp-001\"))\n{\n    node.warn(9)\n   return [null,null,null,null,null,null,null,null,msg,null,null,null,null,null,null,null,null,null,null,null,null] \n}\n if (str.includes(\"iotapp-002\"))\n{\n    node.warn(10)\n   return [null,null,null,null,null,null,null,null,null,msg,null,null,null,null,null,null,null,null,null,null,null] \n}\n if (str.includes(\"iotapp-003\"))\n{\n    node.warn(11)\n   return [null,null,null,null,null,null,null,null,null,null,msg,null,null,null,null,null,null,null,null,null,null] \n}\n if (str.includes(\"iot-directory\"))\n{\n    node.warn(12)\n   return [null,null,null,null,null,null,null,null,null,null,null,msg,null,null,null,null,null,null,null,null,null]\n}\n if (str.includes(\"virtuoso\"))\n{\n    node.warn(13)\n   return [null,null,null,null,null,null,null,null,null,null,null,null,msg,null,null,null,null,null,null,null,null]\n}\nif (str.includes(\"opensearch-n1\"))\n{\n    node.warn(14)\n   return [null,null,null,null,null,null,null,null,null,null,null,null,null,msg,null,null,null,null,null,null,null]\n}\nif (str.includes(\"orion-001\"))\n{\n    node.warn(15)\n   return [null,null,null,null,null,null,null,null,null,null,null,null,null,null,msg,null,null,null,null,null,null]\n}\nif (str.includes(\"orionbrokerfilter\"))\n{\n    node.warn(16)\n   return [null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,msg,null,null,null,null,null]\n}\nif (str.includes(\"myldap\"))\n{\n    node.warn(17)\n   return [null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,msg,null,null,null]\n}\nif (str.includes(\"mongo\"))\n{\n    node.warn(18)\n   return [null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,msg,null]\n}\n\nnode.warn(-1)\nreturn [null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null]\n","outputs":21,"noerr":0,"initialize":"","finalize":"","x":290,"y":400,"wires":[["e87204eb.c04f78"],["23f7c3fe.77110c"],["4e6d890c.81ea18"],["2b6c688e.c0bcd8"],["5362a26d.73801c"],["94407bd9.08d9d8"],["5d12c935.03d398"],["260025df.7fe6ea"],["8a590fe3.0d64"],["8a5bfc4c.7aa4f"],["d69e71ad.6265d"],["7b56824f.aaed6c"],["faefd0ae.53fb9"],["c6663c8f.f7f6d"],["d1213bdb.8071d8"],["2ecc3c73.e79524"],[],["249993b7.c53e2c"],[],["2a623a41.44bf06"],[]]},{"id":"a8ee072b.c4f048","type":"inject","z":"da5a9370.0b7cb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"20","topic":"","payload":"","payloadType":"date","x":160,"y":1540,"wires":[["35482dd9.fc3a82"]]},{"id":"35482dd9.fc3a82","type":"function","z":"da5a9370.0b7cb","name":"","func":"msg.payload= \"te1st\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":1540,"wires":[[]]},{"id":"e87204eb.c04f78","type":"ui_text","z":"da5a9370.0b7cb","group":"f3bc35ce.b8f008","order":3,"width":0,"height":0,"name":"","label":"Dashboard frontend","format":"{{msg.payload}}","layout":"row-spread","x":780,"y":200,"wires":[]},{"id":"23f7c3fe.77110c","type":"ui_text","z":"da5a9370.0b7cb","group":"f3bc35ce.b8f008","order":21,"width":0,"height":0,"name":"","label":"ServiceMap","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":260,"wires":[]},{"id":"4e6d890c.81ea18","type":"ui_text","z":"da5a9370.0b7cb","group":"f3bc35ce.b8f008","order":26,"width":0,"height":0,"name":"","label":"WSserver","format":"{{msg.payload}}","layout":"row-spread","x":740,"y":300,"wires":[]},{"id":"2b6c688e.c0bcd8","type":"ui_text","z":"da5a9370.0b7cb","group":"f3bc35ce.b8f008","order":23,"width":0,"height":0,"name":"","label":"Super Servicemap","format":"{{msg.payload}}","layout":"row-spread","x":770,"y":340,"wires":[]},{"id":"5362a26d.73801c","type":"ui_text","z":"da5a9370.0b7cb","group":"f3bc35ce.b8f008","order":2,"width":0,"height":0,"name":"","label":"Auth","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":380,"wires":[]},{"id":"94407bd9.08d9d8","type":"ui_text","z":"da5a9370.0b7cb","group":"f3bc35ce.b8f008","order":4,"width":0,"height":0,"name":"","label":"Datamanager Pers.Data.","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":420,"wires":[]},{"id":"5d12c935.03d398","type":"ui_text","z":"da5a9370.0b7cb","group":"f3bc35ce.b8f008","order":17,"width":0,"height":0,"name":"","label":"Opensearch-dashboard","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":460,"wires":[]},{"id":"260025df.7fe6ea","type":"ui_text","z":"da5a9370.0b7cb","group":"f3bc35ce.b8f008","order":24,"width":0,"height":0,"name":"","label":"Synoptic","format":"{{msg.payload}}","layout":"row-spread","x":740,"y":500,"wires":[]},{"id":"8a590fe3.0d64","type":"ui_text","z":"da5a9370.0b7cb","group":"f3bc35ce.b8f008","order":5,"width":0,"height":0,"name":"","label":"IOT App 01","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":560,"wires":[]},{"id":"8a5bfc4c.7aa4f","type":"ui_text","z":"da5a9370.0b7cb","group":"f3bc35ce.b8f008","order":6,"width":0,"height":0,"name":"","label":"IOT App 02","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":600,"wires":[]},{"id":"d69e71ad.6265d","type":"ui_text","z":"da5a9370.0b7cb","group":"f3bc35ce.b8f008","order":7,"width":0,"height":0,"name":"","label":"IOT App 03","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":640,"wires":[]},{"id":"7b56824f.aaed6c","type":"ui_text","z":"da5a9370.0b7cb","group":"f3bc35ce.b8f008","order":8,"width":0,"height":0,"name":"","label":"IOT Directory","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":680,"wires":[]},{"id":"faefd0ae.53fb9","type":"ui_text","z":"da5a9370.0b7cb","group":"f3bc35ce.b8f008","order":25,"width":0,"height":0,"name":"","label":"Virtuoso","format":"{{msg.payload}}","layout":"row-spread","x":740,"y":720,"wires":[]},{"id":"c6663c8f.f7f6d","type":"ui_text","z":"da5a9370.0b7cb","group":"f3bc35ce.b8f008","order":18,"width":0,"height":0,"name":"","label":"Opensearch-n1","format":"{{msg.payload}}","layout":"row-spread","x":760,"y":760,"wires":[]},{"id":"d1213bdb.8071d8","type":"ui_text","z":"da5a9370.0b7cb","group":"f3bc35ce.b8f008","order":19,"width":0,"height":0,"name":"","label":"OrionBroker","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":800,"wires":[]},{"id":"2ecc3c73.e79524","type":"ui_text","z":"da5a9370.0b7cb","group":"f3bc35ce.b8f008","order":20,"width":0,"height":0,"name":"","label":"OrionFilter","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":840,"wires":[]},{"id":"249993b7.c53e2c","type":"ui_text","z":"da5a9370.0b7cb","group":"f3bc35ce.b8f008","order":11,"width":0,"height":0,"name":"","label":"MyLDAP","format":"{{msg.payload}}","layout":"row-spread","x":740,"y":880,"wires":[]},{"id":"2a623a41.44bf06","type":"ui_text","z":"da5a9370.0b7cb","group":"f3bc35ce.b8f008","order":12,"width":0,"height":0,"name":"","label":"Mongo","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":920,"wires":[]},{"id":"71dfb2fe.d6593c","type":"tcp request","z":"da5a9370.0b7cb","server":"ldap-server","port":"389","out":"char","splitc":"\\n","name":"","x":270,"y":1660,"wires":[["36a000db.04ab4"]]},{"id":"36a000db.04ab4","type":"debug","z":"da5a9370.0b7cb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":350,"y":1720,"wires":[]},{"id":"b3c76fa4.a0de1","type":"inject","z":"da5a9370.0b7cb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"20","topic":"fskfdgSK","payload":"","payloadType":"date","x":210,"y":1600,"wires":[["71dfb2fe.d6593c"]]},{"id":"8355baa5.1563c8","type":"inject","z":"da5a9370.0b7cb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"20","topic":"","payload":"","payloadType":"date","x":140,"y":1020,"wires":[["18f2e63.3a36e1a"]]},{"id":"18f2e63.3a36e1a","type":"template","z":"da5a9370.0b7cb","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"LDAP,\"xx\",http://$#url-1#$:389/,ESOCKETTIMEDOUT,10000,on\nkafka,\"xx\",http://kafka:9092/,ECONNRESET,5000,on\nzookeeper,\"xx\",http://zookeeper:2181/,ECONNRESET,5000,on\nod-build-api,\"xx\",http://od-build-api:3000/,404,5000,on\nod-get-api,\"xx\",http://od-get-api:3200/,404,5000,on\nod-insert-api,\"xx\",http://od-insert-api:3100/,404,5000,on\nod-postgis,\"xx\",http://od-postgis:5432/,ECONNRESET,5000,on\nsolr-kb,\"xx\",http://$#url-2#$:8983/,200,5000,on","output":"str","x":310,"y":1020,"wires":[["21d2a546.ef0f2a"]]},{"id":"21d2a546.ef0f2a","type":"csv","z":"da5a9370.0b7cb","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":450,"y":1020,"wires":[["ab787730.15bae8","42247ad2.65ce14"]]},{"id":"544b1ce8.d8c4b4","type":"http request","z":"da5a9370.0b7cb","name":"testing url","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"650adfe9.681a5","persist":false,"proxy":"","authType":"","x":380,"y":1100,"wires":[["9d009c2.0f1166","720229a1.e20a08"]]},{"id":"7ebc8a16.cb5634","type":"delay","z":"da5a9370.0b7cb","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"6","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":190,"y":1100,"wires":[["544b1ce8.d8c4b4"]]},{"id":"42247ad2.65ce14","type":"function","z":"da5a9370.0b7cb","name":"ask","func":"// msg.other = msg.payload;\nif (msg.payload.col6===\"on\") {\nmsg = { \"url\" : msg.payload.col3,\n       \"other\" : msg.payload,\n       \"requestTimeout\" : msg.payload.col5,\n       \"rispostaattesa\" : msg.payload.col4\n    };\n}\nelse msg=null;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":1020,"wires":[["7ebc8a16.cb5634"]]},{"id":"ab787730.15bae8","type":"debug","z":"da5a9370.0b7cb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":980,"wires":[]},{"id":"9d009c2.0f1166","type":"debug","z":"da5a9370.0b7cb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":550,"y":1100,"wires":[]},{"id":"720229a1.e20a08","type":"function","z":"da5a9370.0b7cb","name":"ask","func":"var pastpay = msg.url ;\n\ntry{\n    msg.payload = \"Code \" + msg.statusCode.toString()+\" at: \"+msg.headers.date+\". Should be: \"+msg.rispostaattesa.toString();\n}\ncatch(error){\n    msg.payload = \"Code \" + msg.statusCode.toString()+\", but time couldn't be loaded. Should be: \"+msg.rispostaattesa.toString();\n}\n\nif (pastpay.includes(\"ldap-server\"))\n{\n    \n    node.warn(1)\n   return [null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,msg,null,null,null,null]\n}\nif (pastpay.includes(\"kafka\"))\n{\n    node.warn(2)\n   return [null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,msg,null,null]\n}\nif (pastpay.includes(\"od-build-api\"))\n{\n    node.warn(3)\n   return [msg,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null]\n}\nif (pastpay.includes(\"od-get-api\"))\n{\n    node.warn(4)\n   return [null,msg,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null]\n}\nif (pastpay.includes(\"od-insert-api\"))\n{\n    node.warn(5)\n   return [null,null,msg,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null]\n}\nif (pastpay.includes(\"od-postgis\"))\n{\n    node.warn(6)\n   return [null,null,null,msg,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null]\n}\nif (pastpay.includes(\"solr-kb\"))\n{\n    node.warn(7)\n   return [null,null,null,null,msg,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null]\n}\nif (pastpay.includes(\"zookeeper\"))\n{\n    node.warn(8)\n   return [null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,msg]\n}\n\nnode.warn(-1)\nreturn [null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null];","outputs":21,"noerr":0,"initialize":"","finalize":"","x":370,"y":1320,"wires":[["a0ff2418.23e978"],["e8c84ca.86ab9b"],["a5918102.40c18"],["cfd7acd6.ec0e4"],["eab516d4.dde888"],[],[],[],[],[],[],[],[],[],[],[],["c24acb73.6f62f8"],[],["ceee02fd.7e827"],[],["4e3f1a85.e96bb4"]]},{"id":"c24acb73.6f62f8","type":"ui_text","z":"da5a9370.0b7cb","group":"f3bc35ce.b8f008","order":10,"width":0,"height":0,"name":"","label":"LDAP","format":"{{msg.payload}}","layout":"row-spread","x":610,"y":1380,"wires":[]},{"id":"ceee02fd.7e827","type":"ui_text","z":"da5a9370.0b7cb","group":"f3bc35ce.b8f008","order":9,"width":0,"height":0,"name":"","label":"Kafka","format":"{{msg.payload}}","layout":"row-spread","x":610,"y":1420,"wires":[]},{"id":"4e3f1a85.e96bb4","type":"ui_text","z":"da5a9370.0b7cb","group":"f3bc35ce.b8f008","order":27,"width":0,"height":0,"name":"","label":"ZooKeeper","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":1460,"wires":[]},{"id":"eab516d4.dde888","type":"ui_text","z":"da5a9370.0b7cb","group":"f3bc35ce.b8f008","order":22,"width":0,"height":0,"name":"","label":"Solr-KB","format":"{{msg.payload}}","layout":"row-spread","x":620,"y":1340,"wires":[]},{"id":"cfd7acd6.ec0e4","type":"ui_text","z":"da5a9370.0b7cb","group":"f3bc35ce.b8f008","order":16,"width":0,"height":0,"name":"","label":"OD-Postgis","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":1300,"wires":[]},{"id":"a5918102.40c18","type":"ui_text","z":"da5a9370.0b7cb","group":"f3bc35ce.b8f008","order":15,"width":0,"height":0,"name":"","label":"OD-Insert-Api","format":"{{msg.payload}}","layout":"row-spread","x":640,"y":1260,"wires":[]},{"id":"e8c84ca.86ab9b","type":"ui_text","z":"da5a9370.0b7cb","group":"f3bc35ce.b8f008","order":14,"width":0,"height":0,"name":"","label":"OD-Get-Api","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":1220,"wires":[]},{"id":"a0ff2418.23e978","type":"ui_text","z":"da5a9370.0b7cb","group":"f3bc35ce.b8f008","order":13,"width":0,"height":0,"name":"","label":"OD-Build-Api","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":1180,"wires":[]}]
